[2014-07-21 22:52] yoshiokaCB opened #2 "役割分担について"
スタッフの皆さんの役割分担を決めたいと思います。
みなさんのご希望を教えてください。
尚、大まかな役割は以下のページからご確認ください。
https://github.com/matsuerb/matrk06/wiki/%E5%BD%B9%E5%89%B2

また、上記にない役割でもこんな役割も必要じゃない？ってご指摘も歓迎します！

[2014-07-21 23:13] amidaku commented on #2
会場係についてですが、前回は役割が曖昧と言うか人により認識が違うような感じがしました。
設備や部屋の手配、必要な機器、レイアウトなど役割を定めておいた方が良いと感じました。
あと、それをひっくるめて会場係とするのか、役割を分離するべきかなど。

さらに、受付やUstの人などは当日は会場準備は余裕が無く対応出来ないので、こういった係りの方は、会場係は兼務出来ないとかんじます。

今日から数日スマホで入力なので文や文字がおかしかったらゴメンね。

[2014-07-21 23:32] amidaku commented on #2
あと、当日のマイクやプロジェクター関係で講演者のサポート係がいりますね。
それと、ライブコーディング大喜利するのであれば、それに使用するシステムの担当者も要るような気がします。

[2014-07-21 23:42] sho-h commented on #2
Togetter まとめの作成を[前回](http://togetter.com/li/642795)はあみだくさんがやってくださったのですが(http://matsue.rubyist.net/schedule/ にリンク貼りました。ありがとうございました)、今回は誰か担当の人がいるといいかもしれません。

[2014-07-22 03:40] yoshiokaCB commented on #2
@amidaku さん、ご指摘ありがとうございます。助かります。
とりあえず、大きく会場係として、後で細かく役割を分けたり、当日までに係の中で相談していこうかなと考えてました。もちろん細かく洗い出してみて、役割を別にして切り分けしたほうが良ければ、そうしようと思います。
あと、ライブコーディング大喜利をする場合、まだ、やり方も曖昧なので、現時点ではどのような環境でするかもわからないので、概要が決まってからどうするか考えようと思ってます。
（多分 @amidaku さんにお願いするかもしれませんが。。。）
会場と受付や撮影関係など、当日忙しい方の兼務なしで、完全に別にしたほうが良さそうですね。了解です！
もう少し詳細を考えて、明日は話してみますね。

[2014-07-23 10:48] Takashi-U opened #3 "懇親会会場の予約"
@kazuki-harada さん、と@Takashi-Uでやります。

[2014-07-23 10:51] kazuki-harada commented on #3
がんばります^^

[2014-07-23 10:55] inoh opened #4 "matrk06の公式サイトの空を作る"

[2014-07-23 11:08] sho-h opened #5 "運営への開催連絡(http://regional.rubykaigi.org/ に予定を載せてもらう)"
matsuerb/matrk05#10 と同様。

[2014-07-23 11:14] sho-h opened #6 "公式サイトから regional.rubykaigi.org/matsue06 にリダイレクトしてもらう"
[去年](https://github.com/matsuerb/matrk05/issues/6#issuecomment-32600072) 以降のように regional.rubykaigi.org/matsue06 からリダイレクトの設定を依頼、完了したら Web 班に報告する。

[2014-07-23 11:18] inoh opened #7 "facebookの松江ルビーグループに応募者を募集する"

[2014-07-23 20:57] inoh opened #8 "外向けの目的を決める"

[2014-07-24 11:39] inoh opened #9 "発表者公募の内容をホームページに追加する"

[2014-07-24 12:02] inoh commented on #4
とりあえず前回のホームページ（matrk05）を今回のホームページに（matrk06）にコピーしました。
プルリクエストを送ったので問題なければ取り込みます。

https://github.com/matsuerb/matsuerb-nanoc/pull/173

@nobyuki @sada @eijik
取り込んだら各々気づいた点修正してください！
よろしくお願いします。

[2014-07-29 23:10] Takashi-U commented on #3
少し関係者と話をしました。
方針としましては、テルサでケータリングという事で準備したいと思います。

[2014-07-30 03:17] sho-h commented on #4
公式サイトへの反映は作業が進むまでは matrk06 以下だけ除外して push しようと思うのでいつでもマージしてもらって大丈夫です。:)

また、[matsuerb-nanoc/README.md](https://github.com/matsuerb/matsuerb-nanoc/blob/master/README.md)にも公式サイトに反映させる手順を追記しました！

[2014-08-04 06:55] hnozaka opened #10 "まつもとさんに基調講演のお願いをする"
12/20（土）の基調講演を依頼する。

[2014-08-04 06:55] hnozaka commented on #10
2014/08/04、直接まつもとさんにお願いし、12/20（土）の基調講演の実施を了承頂きました。

[2014-08-08 02:49] Takashi-U commented on #3
12/20土曜日、カプリチョーザのケータリング、松江テルサ中会議室の予約を完了しました。
必要な備品を数日以内に決めて再度事務局へお伝えし、会場料金を確定せねばなりません。

@yoshiokaCB さん、この点ご指示いただけませんでしょうか？
@kazuki-harada さん、今のところ備品のお金と会場のお金は、併せて（明細はどうなっているかわかりませんが）請求をあげて貰う事で話をしています。もしも、今後追加で備品が必要になった場合、請求が分かれたり、支払が別々になっても問題は無いでしょうか？

以下、現況も併せて挙げておきます。
- 18時〜22時でおさえています。
- ケータリングは1名4,000円です。
- 仮に30名で予約をしています。

[2014-08-08 03:00] yoshiokaCB commented on #3
備品はプロジェクター、スクリーン、マイクくらいかな。
あと、wifiが使えると、なお良いって感じ。まぁ、LTするだけだしwifiはなくても何とかなるかも。
他に何かいるかな？
ホワイトボードがあると何かに使えるかな？
（wifiのidとpass書いたりとか）

[2014-08-08 03:03] Takashi-U commented on #3
ラボの備品というのは使ったらダメなんですかね？
よく考えたら、前回の知見があるので、 @ToruKurahashi さんに降臨して頂くと助かります。

[2014-08-08 03:10] Takashi-U opened #11 "懇親会の申込み受付"
## DoorKeeperで受付ページを作る
- 定員30名（当初お店には30名で予約。お店と確認しながら適宜調整。）
- 18時〜
- 松江テルサ中会議室
- 会費4,000円
- 締め切りは仮に12/12（お店と確認しながら適宜後ろへ）

[2014-08-08 03:15] amidaku commented on #3
WifiとかLAN系は懇親会の後で、また片付けが発生するから面倒かな...とか言って見たりするテスト

[2014-08-08 03:28] ToruKurahashi commented on #3
横からすみません。いろいろ分かっていないことが多くて、前知識として質問させて下さい。
・会場費はどこから出ますでしょうか？
・カプリチョーザのケータリングの最低料金は分かりますでしょうか。
といいますのも、たしか前回の懇親会参加者数は２３人だったと思いますが、今回３０人以上集まるのかなと思った次第です。
よろしくお願いします。

[2014-08-08 03:31] yoshiokaCB commented on #3
@amidaku さん
おお！そうですね。やめましょう。

[2014-08-08 03:43] Takashi-U commented on #3
- 会場費は @kazuki-harada さんの筋から
- ケータリングは4,000円が最低料金

となっております。
予約自体を現在30名で行っている状況です。そこの辺りは留意して進めたいと思ってはいますが、何か問題があれば随時ご指導頂ければと…。

[2014-08-08 03:46] amidaku commented on #3
会場費は上限とか考えなくて良いって感じですか？
備品とかできれば借りた方が楽かなと。
あと金集めて会場使うので、会場費用がちょっと高くなると思いましたがその辺はOKですか？ > @kazuki-harada

[2014-08-08 03:58] ToruKurahashi commented on #3
@Takashi-U さん了解です。

会場費は「心配無用」ということですね。
ということであれば、借りれる備品はテルサで借りた方がよさそうですね。何が借りれそうか確認してから決めたらいかがでしょうか。足りないもので手間にそれほどならないものはラボから持って来てもいいかもしれません。

カプリですが、カプリのお店貸切の場合、人数ではなく最低料金が設定されています（たしか１５万円から１８万円くらいだったような）。ケータリングの場合は私は知りませんが、３０名を２０名とかに変更しても問題ないか、一度お店に問い合わせをしておいた方がよいかもしれません（もしケータリングの最低料金が分かれば聞いておいて頂けると、これからの参考になります）。

[2014-08-08 04:01] Takashi-U commented on #3
@amidaku さん、僕の認識では非営利目的の懇親会で料金は低い方だと思ってました。ただ、会場費予算にはかなり余裕がありますので、その点は備品等も含めて必要なものは十分準備できると思います。もちろん、なるべく安くしようとは思います。

@ToruKurahashi さん、お店貸し切りについては「30人下回るけどどう？」でNGでした。僕「じゃぁケータリングですね」お店「そうですね」というやり取りでしたので、下限があるとしたらえらいこっちゃです。助かります。確認してみます。

[2014-08-08 04:05] amidaku commented on #3
@Takashi-U ぁ、ですね。5000円超えなきゃ非営利価格でした。ゴメンナサイ。
では心配なくテルサさんのプロジェクタ等でやりましょう。
中継はしませんが、一応1カメラで録画はするつもりです。

[2014-08-08 04:07] Takashi-U commented on #3
@amidaku 念のためテルサに食費4,000円として伝えました。審査して請求起こすので、請求書を見てねという回答でしたが、amidakuさんの基準であれば問題無さそうですね。

[2014-08-08 04:16] Takashi-U commented on #3
@ToruKurahashi ケータリングは特に下限を設定していないとの事です。理屈としては、店舗の通常営業を妨げないこと、会場費はお客様持ちであることのようです。
極端な話（例えば、一人からでもケータリングOKなのか）は聞いてませんが、20人ぐらいになったりしても大丈夫かと聞いたときに、問題無いとの事でした。

ちなみに、料理の内容によっては、3日前ぐらいから人数が動かせない（キャンセルが発生する）ようです。カプリチョーザ単独で準備できる料理であれば、極端な話当日でも対応出来る場合があるようです。
というわけで、おかげさまをもちまして、カプリチョーザ単独で準備できる料理で御願いしておきました。

[2014-08-08 04:19] amidaku commented on #3
よく考えたら、懇親会参加しないかもしれないので先の録画の話は現時点で無しにしておいてください。

[2014-08-08 04:20] ToruKurahashi commented on #3
@Takashi-U さん、ありがとうございます。とても参考になりました。
あと、特別な参加者に懇親会無料とか学生半額とかはお考えでしょうか？

[2014-08-08 04:22] Takashi-U commented on #3
@ToruKurahashi さん、その辺りは @yoshiokaCB さんと相談中の案件でございます。何らかの配慮はしたいという方向ですが、どういった形で実現するか、あるいは断念するかはこれからです。

お知恵があれば…

[2014-08-08 04:35] ToruKurahashi commented on #3
カプリの飲み放題は１５００円なので、学生さんから２０００円頂いて、５００円分は食事の追加分にまわすというのはどうでしょうか。全体的な食べ物の量は減りますが、カプリは比較的量が多い方だと思いますので、大丈夫だと思います。

[2014-08-08 05:29] amidaku opened #12 "Ustreamチャンネルの作成"
# Ustreamチャンネルをつくります
## 時期

告知用の文章が出来てから
**Web公開後？**
## uri

http://www.ustream.tv/channel/matsuerubykaigi06
の予定
## 紹介画像

誰かから写真や画像をもらってスライドショー設定をする

[2014-08-08 09:25] kazuki-harada commented on #3
中学校Ruby授業の教員研修に出ておりまして、今戻りました。

松江市から執行できる「会場費」の上限は、３３，０００円です。
なお、予算は「会場費」はOKで、「備品代」は０円で査定されています（ケチ）ので、「会場費」の請求しか予算執行できません。

2014年8月8日 13:35 Toru Kurahashi notifications@github.com:

[2014-08-08 09:54] Takashi-U commented on #3
な、なんと！

[2014-08-08 10:29] kazuki-harada commented on #3
そ、そのようにfacebookでもお、おつたえしていましたよ、よ(**)

2014-08-08 18:54 GMT+09:00 Takashi Uchibe notifications@github.com:

[2014-08-08 11:23] Takashi-U commented on #3
会場費の意味を取り違えてました。大変失礼しました。

であれば、とりあえずはこのまま予約し、片付け等の面倒臭さは何とかするという方針でいかせてください。

[2014-08-08 14:49] inoh commented on #4
@sho-h さん
返信遅くなりましたが諸々ありがとうざいます！
ここ２週間くらいパソコン調子が悪くて（継続中ですが、、、）少しづつ修正開始します！

[2014-08-28 07:00] Takashi-U commented on #3
中会議室の利用料金のみで請求を御願いしました。
備品は別途テルサ事務局に御願いする事になります。

【備品について】
@amidaku さん
@yoshiokaCB さん
先日少しお話をしたと思いますが念のため
- 音響ワゴン（1,080円）
- ワイヤレスマイク2本（1本あたり648円）

を御願いするということで良いでしょうか？
- 映像ワゴン（2,700円）

は無しで良いでしょうか？

また、別途電源使用量がかかるかと思いますので、念のため付記致します。
上記備品については、懇親会費に会場費を上乗せする形（500円程度）であることも、確認の意味を込めてこちらに付記しておきます。

[2014-08-28 07:08] amidaku commented on #3
音響関係はそれで良いです。
もしマイクスタンドが必要ならそれを追加となります。
（床置きスタンドと卓上スタンドがあります。）
また、LTで両手を解放する必要があれば、ワイヤレスマイクをひとつハンドマイクからタイピン型にしてもらう方が良いと思います。

映像ワゴンは可搬型のプロジェクタだと思います。
天井にプロジェクタがある部屋なら不要です。

[2014-08-28 07:31] Takashi-U commented on #3
プロジェクターを使いたいという旨を伝えたら、映像ワゴンが必要ですと言われました。（中会議室の利用前提での話です。）

プロジェクター持ち込み前提であれば、使えればラッキー程度に考えれば良いでしょうが、持ち込みを全く想定していないのであれば、御願いしなければならない可能性がありますね。

@yoshiokaCB さん
持ち込み前提ですか？
持ち込み前提でなければ、私の方でamidakuさんのコメントを参考に、先方と話をして必要であればこちらで判断して予約をします。

[2014-08-28 07:42] amidaku commented on #3
ひょっとすると、音響ワゴンと映像ワゴンは一体のものを指している可能性があります。
中会議室のワゴンは大会議室のものと同じ物ですが、ワゴンの左側に音声関係の操作部が集めてあり、右側が映像関係のものがまとめられています。ワゴン前面のガラスドアの鍵で分けているのかも...
プロジェクタ自体は天井に吊ってあります。

先日OSCで中会議室を使いましたが、天井のプロジェクタはMACと相性が悪かったらしく（当方が調べた訳ではないです）、ラボの持込プロジェクタを使ってのセミナーセッションとなりました。
ラボのプロジェクタ等を持ち込むのであれば、映像ワゴンは不要です。

※
念のための話ですが、ラボの備品はラボに配備された物なので、持ち出す際には松江市さんの了解を取ってください。（同一の時刻に別イベントが使用する **可能性** もありますので）
メンバーにいらっしゃるので、おわかりになっていらっしゃると

[2014-08-28 07:56] yoshiokaCB commented on #3
プロジェクターはラボのものを持ち込み前提で考えてます。
スクリーンが無料で使えれば使いたいけど、スクリーンもラボのものを持ち込みでも問題ないと思います。
ラボのスクリーンとプロジェクターが使えなかったら自前のものを持ち込みしようと思っています。

上乗せでOKです！

これでOKです！

こんな返答でOK？

[2014-08-28 07:59] amidaku commented on #3
@yoshiokaCB さん、ありがとうございます。
これでFAですね！ > @Takashi-U さん

[2014-08-28 08:09] Takashi-U commented on #3
では、松江市さんの了解をもって…

@kazuki-harada さんにご確認を御願いしてよろしいでしょうか？

[2014-08-28 08:21] kazuki-harada commented on #3
$B$&$A$Y$5$s(B

$B:#F|(B1$BF|30$K$$$^$9$N$G(B
$BL@F|3NG'$7$^$93NG';v9`$O(B
$B%i%\$NM=Ls$NM-L5$HJ*IJ$NB_$7=P$72DH]$G$h$m$7$$$G$7$g$&$+(B

iPhone$B$+$iAw?.(B

2014/08/28 17:09$B!"(BTakashi Uchibe notifications@github.com $B$N%a%C%;!<%8(B:

[2014-08-28 08:26] amidaku commented on #3
「 うちべさん

今日1日外にいますので
明日確認します確認事項は」
までは解読した。

[2014-08-28 09:11] kazuki-harada commented on #3
$B%i%\$NHwIJ;HMQ2DG=$+$r3NG'$7$^$U(B

iPhone$B$+$iAw?.(B

2014/08/28 17:09$B!"(BTakashi Uchibe notifications@github.com $B$N%a%C%;!<%8(B:

[2014-08-28 23:47] kazuki-harada commented on #3
MISC原田です
おはようございます。
当日のラボは予約はまだ入っていません
ラボをmatsue.rbで使用することとして抑えておくという方法はいかがでしょうか
そうすると備品も占有できます

[2014-08-29 00:53] Takashi-U commented on #3
@kazuki-harada さん、それでは夜も占有という事で御願いしてもよろしいでしょうか？もしも必要書類などありましたら、メールいただけたら書いて送りますのでお申し付けくださいませ。

[2014-08-29 00:53] amidaku commented on #3
どのみち、イベントが終わったら片付けにラボに入る必要がありますし、借りておきましょうよ。

[2014-08-29 00:57] sho-h commented on #3
夜も含めて予約済みですね。あ、仮だったかもです。
- https://www.google.com/calendar/render?eid=bzBwbnI4cmdmaGlqN25ydHBhNHB1ZzFsY2MgNTYwbmhvNGcxOGE4b3NiMXVzOTY2NTVlZHNAZw&ctz=Asia/Tokyo&sf=true&output=xml

[2014-08-29 00:58] amidaku commented on #3
橋本△
(y)

[2014-08-29 01:08] kazuki-harada commented on #3
ラボは念のため仮状態のままになっていますね
本予約入れます
申請書は吉岡さん名で必要ですが、
こちらで作成しておきます！

[2014-08-29 01:24] yoshiokaCB commented on #3
勝手に名前を使ってください。
氏名：吉岡隆行
団体名が必要でしたら「松江Ruby会議」とでもしておいてください。
よろしくお願いします！

[2014-08-29 01:40] Takashi-U commented on #3
Nice!

[2014-09-02 10:46] yoshiokaCB commented on #2
役割についてはwikiをご確認ください。
https://github.com/matsuerb/matrk06/wiki/%E5%BD%B9%E5%89%B2
自分の役割が違うって人は申告をお願いします。
名前の無い方については当日の会場準備等お願いしたいと思っています。
また、細々とした仕事が出てきますので、その都度、声かけさせてください。

[2014-09-02 10:48] yoshiokaCB opened #13 "ライブコーディング大喜利について"
流れ、出演者、お題目など。

[2014-09-02 11:00] yoshiokaCB commented on #13
# 流れについて

### 流れ
1. 司会者がお題を提示
2. 解答者手を挙げる
3. 解答者へモニタを切り替える
4. 解答者がコードを書く（司会者突っ込み入れる）
5. コードが動くことを確認　司会者が評価・解説
6. 2へ戻る（数回繰り返す）

#### 注意事項
- お題は事前に告知しておく
- それぞれ一問に対して複数答えを準備する

[2014-09-02 11:01] #2 closed, assigned to yoshiokaCB

[2014-09-06 02:07] inoh commented on #4
きたる9/20の一般公募に向けて載せる内容について整理が必要になってきました。
今私が把握している整理内容は下記の通りです。
- 開催時間の決定
- 外向きの目的の決定
- プログラム内容の決定
- お問い合わせ先の決定
- 昼食場所と懇親会の場所確保
- 場所確保を受けてのdoorkeeperを確保

ざっとこんな感じに思っています。
もし内容が決まっているところがあれば情報をご提供いただけると助かります。
よろしくお願いします。

[2014-09-06 05:55] yoshiokaCB commented on #4
@inoh さん
色々とありがとうございます！

こちらを参考にしてください。
https://github.com/matsuerb/matrk06/wiki/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%EF%BC%88%E5%BD%93%E6%97%A5%EF%BC%89

ちょいと相談です。

こちらを参考にしてください。
https://github.com/matsuerb/matrk06/issues/3

[2014-09-06 20:44] inoh commented on #4
@yoshiokaCB さん
情報ありがとうございます！
書ける範囲でページ手直ししてまた連絡します！

[2014-09-16 14:15] inoh commented on #4
とりあえず私が拾った範囲で下記の通りホームページに反映させました。
プルリクエスト：https://github.com/matsuerb/matsuerb-nanoc/pull/183
- 開催時間の決定
  - 開催：13:00 - 17:45
  - 懇親会：18:00 -
- 外向きの目的の決定
  - とりあえず内向きの目的を少し加工して載せています
  - また相談させてください！
- プログラム内容の決定
  - 大枠として「基調講演」「ライブコーディング大喜利」「講演（20分 x 5枠）」という認識です
  - 詳しい詳細が決まり次第随時更新予定です
- お問い合わせ先の決定
  - 「matsuerubykaigi06@googlegroups.com」で確保しました
- 懇親会の場所確保
  - 参考）https://github.com/matsuerb/matrk0

[2014-09-27 01:19] sho-h commented on #5
遅くなりましたが本Issueに対応しようかと思います。発表の目的みたいなものがまだ確定したものがなかったと思いますので、下記の文言のTODOのところがふわっとしてますけど、このようにしてみました。@yoshiokaCB さん追記したい事などあったら教えてくださいませー。

[code]

[2014-09-27 05:58] yoshiokaCB commented on #5
以下修正をお願いします。

会計：吉岡

<pre>
内容としては、松江近辺に限らず希望者の日頃の活動内容の発表をする会にしたいと思っております。
また、松江Ruby会議の発表を通して、一人でも多くの人にRubyの楽しさを知ってもらいたいと思っております。
</pre>

こんな感じでどうでしょうか？

[2014-09-27 06:04] inoh commented on #5
:+1:
ホームページの目的だとMatsue.rbへの参加者が増えることを目的としていましたがRubyの楽しさを知ってもらうことの方が外向きとしてよいように思いました。
運営への連絡内容がまた決まったらホームページにも反映しておきます

[2014-09-27 06:40] sho-h commented on #5
ありがとうございますー。どっちも大事かなとおもったので、@yoshiokaCBさんと相談して、「...一人でも多くの人にRubyの楽しさを知ってもらいたいながら、Matsue.rbをよりにぎやかにできたらと思っております。」みたいな文言にしようかと思います。

[2014-09-27 06:46] inoh commented on #5
:+1:

[2014-09-27 07:55] sho-h commented on #5
以下で送りましたー。

[code]

[2014-09-27 09:42] yoshiokaCB commented on #13
# 出題についてと回答について
- まずは、11月1日に問題を提示します。（4〜6問程度）
- その後、本番までに指定したに先に説明を付けたコードをお送りください。
  （期日と送り先は後日指定します。）
- 当日は実際に流れにそってコードを書いてもらいます。

※事前にコードを送ってもらうことで、回答がかぶらないように調整をしたいと思います。
また、当日はコードを打つことに集中してもらって、解説は司会者にしてもらうことにしようと思っています。もちろんしゃべりたい人はしゃべりながらコードを書いてもらっても構いませんし、司会者のツッコミに反論してください。むしろ反論してください。

[2014-09-27 09:45] yoshiokaCB commented on #13
# 例題

1から10までの配列があります。
ランダムに並べ替えてください。
※ただし、Array#shuffle, Array#shuffle! は使用しないでください。

<pre>
def f
  a = (1..10).to_a
  # -- ここにコードを記述してください。 --
end
# 三回出力してそれぞれランダムに並び替えられていることを確認します。
f
f
f
</pre>

[2014-09-29 00:11] sho-h commented on #5
先方のML向けのサービスが停止してるみたいで送り直しっぽいので、reopenしときます。後日再送します。

[2014-09-30 04:54] sho-h commented on #5
報告をしてたからか、別のパスで発覚したのかよくわからないところではありますが、その後復旧して配送されましたので再度closeします。

[2014-09-30 04:54] #5 closed, assigned to sho-h

[2014-10-01 20:51] inoh commented on #9
発表者公募についてはおかげさまで満員御礼となったのでホームページから削除しました。

[2014-10-01 20:51] #9 closed, assigned to nobody

[2014-10-01 20:52] #8 closed, assigned to nobody

[2014-10-01 20:53] inoh opened #14 "アンチハラスメントポリシーのページを作成する"

[2014-10-01 20:53] inoh opened #15 "ライブコーディング大喜利のページを作成する"

[2014-10-01 20:54] #4 closed, assigned to inoh

[2014-10-01 20:54] #7 closed, assigned to inoh

[2014-10-01 20:55] inoh opened #16 "doorkeeperに参加登録と懇親会のイベントを作成する"

[2014-10-03 09:19] sho-h commented on #5
メモ、IssueタイトルのURLではなく、https://github.com/ruby-no-kai/official/wiki/Upcomingregionalrubykaigi の方に載せていただいた。

[2014-10-03 09:25] yoshiokaCB commented on #5
いつもありがとうございます！

[2014-10-05 03:05] yoshiokaCB commented on #13
wikiに移したのでクローズします。
https://github.com/matsuerb/matrk06/wiki/%E3%83%A9%E3%82%A4%E3%83%96%E3%82%B3%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%E5%A4%A7%E5%96%9C%E5%88%A9%EF%BC%88%E3%82%AF%E3%82%A4%E3%82%BA%EF%BC%89

[2014-10-05 03:05] #13 closed, assigned to yoshiokaCB

[2014-10-06 01:06] inoh opened #17 "講演開催場所はテルサ中会議室ですか？"
今更ながら私勘違いしていましたが講演の開催場所はオープンソースラボではなくてテルサ中会議室ですか？
ホームページを間違えて記載しておりました。。。

[2014-10-06 01:10] sho-h commented on #17
同じ認識でした > OSSラボ

[2014-10-06 01:13] Takashi-U commented on #3
Matsue.rbの時に、申込み控えが来ている事をお示しして、Closeにしたいと思ってましたが、なかなか参加出来ずにすみません。
控えの封書自体は届いておりますので、進捗状況報告としてコメントさせていただきます。

[2014-10-06 01:16] Takashi-U commented on #16
下記Issueと被ってる部分があるので、こちらを生かして、下記IssueをCloseとしておきます。
※Issueの内容をコピペしておきます。

https://github.com/matsuerb/matrk06/issues/11

## DoorKeeperで受付ページを作る
- 定員30名（当初お店には30名で予約。お店と確認しながら適宜調整。）
- 18時〜
- 松江テルサ中会議室
- 会費4,000円
- 締め切りは仮に12/12（お店と確認しながら適宜後ろへ）

[2014-10-06 01:16] Takashi-U commented on #11
https://github.com/matsuerb/matrk06/issues/16

こちらで管理するためClose

[2014-10-06 01:16] #11 closed, assigned to Takashi-U

[2014-10-06 01:56] inoh commented on #17
ホームページとDoorkeeperに載せる上で少し会場について整理させてください。

**会場について**
- 講演
  - オープンソースラボ
- 懇親会
  - テルサ中会議室
  - カプリチョーザからのケータリング

上記でよろしかったでしょうか？

[2014-10-06 01:59] yoshiokaCB commented on #17
@inoh さん

それでOKです。

[2014-10-06 02:01] inoh commented on #17
了解です！
ありがとうございます！

[2014-10-06 02:01] #17 closed, assigned to nobody

[2014-10-08 21:14] inoh commented on #16
@Takashi-U
もろもろありがとうございます！
とりあえずのイベント登録をdoorkeeperに作成しました。
**参加登録**
http://matsue-rb.doorkeeper.jp/events/16078
**懇親会**
http://matsue-rb.doorkeeper.jp/events/16079
まだ一般公開はしていないのでdoorkeeperの松江Ruby会議のコミュニティに入っている人だけ確認できるかもです。

[2014-10-08 22:33] amidaku commented on #16
DoorKeeperの非公開イベントは、管理者のみ見ることができます。コミュニティー参加者が見れると、非公開にならないのでw
関係者に確認が必要なら、画面キャプチャして共有するのが良いと思いますよ。
ではー

[2014-10-12 07:51] inoh commented on #16
とりあえず内容は前回のをコピーしてあまり詰めてないですが現状かける範囲でとりあえずイベント作ってます。
PDFで共有してあるので現状下記のPDFを参考にしてください。

**イベント登録**
https://drive.google.com/file/d/0BwbhUrybRgO4MTBOeEZndnc2Z00/view?usp=sharing

**懇親会登録**
https://drive.google.com/file/d/0BwbhUrybRgO4Yi1KcTdQMGJOZDg/view?usp=sharing

[2014-10-12 07:57] inoh commented on #16
ちなみに気になる点を補足です。

**当日来場者の写真撮影について**
以前の打ち合わせの中で写真班から来場者の写真撮影有無について確認が必要かという話がありました。
Doorkeeperで同意のチェックをするための機能が見当たらなかったのでとりあえず断りの文章を入れました。

**懇親会の時間帯**
懇親会の開催時間は18:00 から 20:00 としています。
スタート時間は18時でよいという認識ですが終わりの時間は20時でよいですかね？もしくは書かない方がよい？

[2014-10-13 02:18] amidaku commented on #16
作成お疲れ様です。
写真撮影同意の記載はとても良いと思います。
出来れば同意いただく気持ちを強めた文字の方が良いと感じました。
例えば、
「イベント終了後に開催の様子を多くの方にご覧頂くために、当日は写真撮影をいたします。ご理解をお願いいたします。」
とかそういう文字の方が良いかなと感じました。

[2014-10-13 02:20] inoh commented on #16
ご指摘ありがとうございます。
こういった文章を書くのが不慣れなものでアドバイスいただけると大変助かります。
参考に修正します。

[2014-10-13 03:19] inoh commented on #16
@amidaku さんの文言そのままですがdoorkeeperの内容を修正してPDFを置き換えました。
@yoshiokaCB さん
また公開時期とかあれば指示いたければ公開します。

[2014-10-13 05:23] yoshiokaCB commented on #16
@inoh さん

作業ありがとうございます！

サイトへのリンクがあった方が良いと思いますがどんなもんでしょうか？
相談済で見落としてたらごめんなさい。
リンク先:
http://matsue.rubyist.net/matrk06/

@Takashi-U
懇親会の費用って、4,000円でよかったっけ？
あと学生の料金って決めてなかったよね。どうしましょう？

[2014-10-13 06:08] inoh commented on #16
詳細情報としてリンク追加しておきました！

[2014-10-14 02:45] Takashi-U commented on #16
@yoshiokaCB
懇親会の費用については、4,000円が下限ということの確認でストップしてます。失礼しました。
現況、一般の方には500円アップをお願いする案と、 @ToruKurahashi さんのアイデアがありまして、そこの所加味して、当方が交渉してみるということでいかがでしょうか？
学生の方達の金額がどれほどが妥当か、こちらが想定している額で妥結できるか…という心配はありますが。。

[2014-10-14 09:47] yoshiokaCB commented on #16
@inoh さん
変更確認しました。ありがとうございます！
松江Ruby会議の申し込みは再来週にMatsue.rbがあるので、そのタイミングくらいで公開したいと思います。懇親会はもうしばらくお待ち下さい。

@Takashi-U
こっちこそ投げっぱなしでごめんなさい。交渉おまかせします！
なんか相談や判断が必要なことがあったら言ってください。（懇親会費用は4,500円でもいいと思いますよ。）
んで、金額決まったら @inoh さんに伝えてください。
学生は2,000円〜2,500円くらいって話だったっけ？来てくれそうな学生に今度聞いときましょうか？

[2014-10-17 05:44] Takashi-U commented on #16
@yoshiokaCB
カプリチョーザさんにお願い電話してみました。
ノンアルコールの学生さん（学生証提示）については3,000円、その他の人は3,500円という事にまとまりました。

その他の人は4,000円で徴収させていただいて、学生さんについては2,000円とすると、3人中1人が学生という状況でも対応できます。

このような状況から、私個人としてはアルコールの学生さんの事や、ある程度の余裕をもってと考え、一般の方には申し訳無いですが4,500円をお願いするというのを、第一の候補と考えましたがいかがでしょうか？
（多めに設定して、余れば少なくするというのが吉かと。。）

いろいろな組み合わせが考えられるところでございます。他のアイデアもあればバシバシお願いします。
ご検討下さいませ。（数日程度で結論をだして募集開始したいですね。丸2ヶ月程度募集できたらOKかなと。）

[2014-10-17 06:22] yoshiokaCB commented on #16
なるほど。
学生2,000円で良いと思いますよ。
可能ならノンアルコールの人の料金を下げてあげたいけど、どんな感じかな？（ノンアルコールの人は3,500とか）
それと、県外からのゲスト（コーダーと講演者）が二人ほど来られる予定です。
なので二人分を余分に計算してもらえると助かります。

今のところ基本的には4,500円の線で考えたいですね。

[2014-10-17 22:15] inoh commented on #16
とりあえず現状でdoorkeeperを修正しました。
https://drive.google.com/file/d/0BwbhUrybRgO4Yi1KcTdQMGJOZDg/view
またアルコールの有無で値段設定を変える場合は修正します。

[2014-10-20 21:09] inoh opened #18 "10/25の打ち合わせ時間について"
@yoshiokaCB
次回の打ち合わせですが何時ぐらいになりそうでしょうか？
別件があってフルに参加が難しそうなので時間をわかれば少し抜けて参加予定です。
もし時間が合わない場合は最悪欠席とさせてもらうかもしれないです。

[2014-10-21 00:42] yoshiokaCB commented on #18
全体での打合せって感じはなく、個別に必要事項を相談する感じなので、 @inoh さんには「公開よろしく」って感じの会話で終わると思いますがw
ですので、難しかったらメッセージで募集の開始をお願いをするので大丈夫ですよ。
まぁ、自分は @inoh さんの顔見たいので、ご都合つくようでしたらいらしください！

[2014-10-21 00:43] yoshiokaCB commented on #16
@inoh さん
確認しました！ありがとうございます。

@Takashi-U
値段設定どうしましょ？　誰と誰に確認とっておけばOK？　（誰を巻き込む？）

[2014-10-21 20:44] inoh commented on #18
了解しました！
いつもみたいに午後過ぎくらいに少し顔見せに行きます

[2014-10-21 20:44] #18 closed, assigned to nobody

[2014-10-21 22:46] Takashi-U commented on #16
@yoshiokaCB さん
できたら土曜日におめにかかって最終的に決定したいと思います。いかがでしょうか？
というのも、参加人数や学生の割合等によって、最終的な価格が結果的に変わってくる可能性があり、予め場合によっての方針を決めたいなと思った次第です。

確認については、@yoshiokaCB さんが決定した事については異論が出ないと思いますので、抜けが無いか念のため数人に「これでいきますわー」とレビュー依頼する程度で良いと思っています。

よろしくです。。

[2014-10-22 00:42] yoshiokaCB commented on #16
@Takashi-U
了解っす。では土曜日に話しましょう！

[2014-10-25 01:45] inoh commented on #18
午後行こうと思っていましたがいろいろと立て込んでいて行けそうにないのでまた結果だけ教えてください！

[2014-10-25 04:39] yoshiokaCB opened #19 "懇親会LTついて"
## 枠
- 5分×3人
## 発表者
- 杉原さん
- 後藤さん
- 五十嵐氏（株式会社 spice life）

[2014-10-25 06:27] yoshiokaCB commented on #18
残念っす！
また公開時期についてはお知らせします！！

[2014-10-26 03:55] yoshiokaCB commented on #16
@inoh さん
本編はOKです！
公開しちゃってください！！
懇親会は料金設定をちょっと変更しますので、少々お待ちください。

@Takashi-U
学生の料金設定だけど高尾さんから「チケット数を制限したらどうか」というアドバイスがありました。今の料金設定で学生は何人までなら割引対象にできるかざっと計算は出来るかな？
（一般25人くらいで計算したっけ？）

[2014-10-26 04:41] Takashi-U commented on #16
@yoshiokaCB さん
取り急ぎ、、
学生は4人までなら割引対象にできる計算です。一般25人として計算しています。
昨日のお話では万一余ったり不足したりしたらという前提でしたので、計画通りに行けば上記の人数となります。

[2014-10-26 21:48] inoh commented on #16
@yoshiokaCB
講演のエントリ開始しました！

@sho-h
ホームページについても修正を行いました！
たびたびお願いして申し訳ありませんが反映お願いします！
https://github.com/matsuerb/matsuerb-nanoc/pull/205

[2014-10-26 22:00] Takashi-U commented on #16
@yoshiokaCB さん
価格設定を変更するならアレですが、人数の増減に対応するだけであれば、 @inoh さんにお願いしても良い段階かと思いますがいかがでしょうか？

現在のところ、
- 一般会費 4,500円
- 一般会費（ノンアルコール） 4,000円
- 学生 2,500円
- 学生（ノンアルコール）2,000円
  ※学生枠は4名

ということになっております。
ご確認の程よろしくお願いいたします。

[2014-10-27 00:36] sho-h commented on #16
@inoh さん、ありがとうございます！マージと反映をしましたー。

[2014-10-27 00:47] yoshiokaCB commented on #16
@inoh さん @sho-h さん
ありがとうございます。

@Takashi-U
了解っす。
では @inoh さん 以下の料金設定に変更して公開をお願いします。

とりあえず、学生の枠は各2人にしておきましょうか。

[2014-10-27 12:59] inoh commented on #16
@yoshiokaCB さん @Takashi-U さん
とりあえず懇親会のdoorkeeperを公開しました。
http://matsue-rb.doorkeeper.jp/events/16079
学生枠の人数制限ですがdoorkeeperでチケットごとに人数制限ができなかったのでとりあえず断りの文言を入れておきました。
例年だとどれくらい学生のエントリがあったんでしょうか。
もし多いようでしたら予算オーバーも怖いのでエントリ自体を分ける必要があるかもです。

@sho-h さん
ホームページの修正を行いました！またまた反映お願いします！
https://github.com/matsuerb/matsuerb-nanoc/pull/206

[2014-10-27 23:48] Takashi-U commented on #16
@inoh さん、ありがとうございます！

学生の件ですが、現状ですと当日にならないと学生が何人かわからない事になると思います。ですので、inohさんご指摘の「エントリ自体を分ける」あるいは「学生である旨を運営に通知してもらう」のいずれかを行う必要があるでしょう。

この点、どちらが良いと思いますか？あるいは他に案がありますでしょうか？ (To @yoshiokaCB さん)

以下、今後の受付運営について共有しておきたいことを列挙します。すぐに対応すべきことではありませんので、頭の片隅にでも置いていただくと幸いです。
- 現況では影響ありませんが、状況によっては締め切りを延ばすことも可能です。
- 人数の上限設定ですが、会場に入れる人数であれば問題無いです。（上記の25人というのは見込みであり、Maxではありません。こちらで仮に40人としていますが調整が必要です。）

[2014-10-28 00:02] sho-h commented on #16
@inoh さん、おつかれさまです！マージと反映をしましたー。

[2014-10-28 00:03] Takashi-U commented on #16
すみません。僕の勘違いでした。
チケット自体は分けてあるから、学生かどうかは明示されているということですね。失礼しました。

[2014-10-28 00:36] yoshiokaCB commented on #16
@inoh さん @sho-h さん @Takashi-U
色々ありがとうございます。
参加人数予測ですが、前回は本編には3-5人程度で懇親会は0だったと思います。
学生曰く「懇親会は高くて行けなかった」とのことです。ですので、今回も来ても4-5人程度と思っています。
ただ、学生の場合何かの拍子に大人数申し込まれる可能性も考えときたいです。
面倒ですが、エントリーを分けませんか？分けておいた方が後々の手間がかからないように思います。

[2014-10-28 03:56] AyakoMakihara opened #20 "Matsue.rbのTシャツ作成"
松江Ruby会議05で作成したTシャツを追加作成します。
- [x] 注文する人を取りまとめて枚数を確定（11/15頃）(15)
- [x] サイズの取りまとめ（11/15頃）
- [x] データの受け渡し
- [x] tmixに注文（到着2週間前　11/29頃）
- [x] 受取（12/13には欲しい）

:rabbit2: サイズ別注文リスト

| 　サイズ　 | 枚数　 |
| --- | --- |
| 160 | 2 |
| S　 | 1 |
| M　 | 5 |
| L　 | 6 |
| XL　 | 0 |
| XXL | 1 |
| 合計 | 15 |

[2014-10-28 04:53] yoshiokaCB commented on #20
今のところ把握しているのは。。。

| 名前 | サイズ |
| --- | --- |
| 野坂さん | XXL |
| 槙原さん | 160 |
| 原田さん | L |
| 小埼さん | M |

[2014-10-28 05:01] sho-h commented on #20
@AyakoMakihara さん、よろしくお願いします。m(_ _)m

先日本件用にTシャツデータをいただきました。後ほどお送りします。この件を最初のコメントに追記しました。

[2014-10-28 21:30] inoh commented on #16
@yoshiokaCB さん @Takashi-U さん
懇親会のエントリを一般と学生でわけました。
エントリの人数制限を学生は4人、一般は26人としています。
このあたりはエントリの状況で変わってくると思うのでまた指示いただけたら修正します。
@sho-h さん
反映お願いします！
https://github.com/matsuerb/matsuerb-nanoc/pull/207

[2014-10-28 21:32] inoh commented on #16
ちなみに学生のエントリはこちらになります。
http://matsue-rb.doorkeeper.jp/events/16899

[2014-10-29 00:22] sho-h commented on #16
@inoh さん、おつかれさまです！マージと反映をしましたー。

[2014-10-29 02:43] yoshiokaCB commented on #16
@inoh さん @sho-h さん
グッジョブ！
ありがとうございます！
今日はちょっとばたついてて時間が作れなさそうなので、明日あたりに皆さんに告知したいと思います！

[2014-10-29 03:55] AyakoMakihara commented on #20
@yoshiokaCB @sho-h :ok_woman:

[2014-10-30 00:35] sho-h commented on #20
@yoshiokaCB さん、ゲストさんお二人のサイズってMでしたっけ？

[2014-10-30 03:21] yoshiokaCB commented on #20
えーと、倉貫さんともう一人は岡山から来られる予定ですがサイズは分からないですね。
本人に聞くのもサプライズ感がなくなるのでプレゼント（あまり）とゲストにお渡しするのを合わせてM, L 各2着ずつ頼むのはどうでしょうか？

[2014-10-30 06:19] sho-h commented on #20
なるほどです！

[2014-10-30 22:49] AyakoMakihara commented on #20
@sho-h データ受け取りました :ok:
@yoshiokaCB 注文リストML +2にしました :ok_hand:

[2014-10-31 07:38] sho-h opened #21 "rubyist magazine用のチケットを発行する"
https://github.com/rubima/rubima/issues にIssueを発行、たぶん49号か50号に載る。

[2014-11-05 11:23] yoshiokaCB opened #22 "ライブコーディング大喜利　問題"
ライブコーディング大喜利の問題を作成してみました。

http://qiita.com/yoshiokaCB/private/1be71c5cd588a1166321

もっとこうした方が良いとか、こんな問題を出した方が良いとかありましたらご意見をお願いいたいs増す！

@sada さん
問題作成よろしくお願いします！

[2014-11-06 00:37] sho-h commented on #22
Array#shuffle系では#sampleも禁止した方がいいかもですね。:)

[code]

[2014-11-06 03:43] yoshiokaCB commented on #22
あ、ですよね。。。
数日前にある人にそんなメソッドがあること教えてもらいました(^^;)
さっそく修正しました！

[2014-11-06 03:48] yoshiokaCB opened #23 "ウェブサイトの出演者とタイトルの更新"
@inoh さん
ゲストが決定しましたので、更新をお願いします。

講演タイトル：「納品のない受託開発」と、エンジニアの働きかたのこれから
講演者：株式会社ソニックガーデン　倉貫義人氏

[2014-11-06 10:16] sada commented on #22
@yoshiokaCB さん
こちらの作業を出来ていなくて申し訳ありません。
問題の作成の締切りはいつでしょうか？

[2014-11-06 23:59] yoshiokaCB commented on #22
@sada さん
特に決めてないですが、まぁ、ボチボチと。。。
お困りでしたら野坂さんにご相談してみては？
きっと良いアイディアをいただけると思います！

[2014-11-07 00:36] yoshiokaCB commented on #22
@sada さん
ごめんなさい。答えになってないですね。
来週中とかでどうですかね？

[2014-11-07 00:40] sada commented on #22
@yoshiokaCB さん
了解しました。
来週中までに幾つか問題を作成してみます。

問題は作成次第、Qiitaの問題の記事へコメントで共有すれば良いでしょうか。

[2014-11-07 01:37] yoshiokaCB commented on #22
@sada さん
あっ、Qiitaの問題はあくまで出題用にしようと思うので、こちらに一度上げてもらって良いでしょうか？こちらの方が他の方の意見も拾いやすいかと思いますし。
（そのまま掲載だとは思いますが。）
最終的には、私の方でQiitaへはアップさせていただきます！

[2014-11-07 01:57] sada commented on #22
@yoshiokaCB さん
こちらに問題を投稿する旨、了解しました。

[2014-11-07 22:23] inoh commented on #23
修正してプルリクしました。
https://github.com/matsuerb/matsuerb-nanoc/pulls

[2014-11-07 22:47] sho-h opened #24 "3つのdoorkeeperのリンクの_blankあるなし"
公式サイトのdoorkeeperのリンク、参加受付だけtarget="_blank"が付いてるんですね。去年はどうかなと思ったらないようでした。今回付けたという事は残り2つも付けようと思ってた感じでしょうか？

[2014-11-07 22:53] sho-h commented on #24
matsuerb/matsuerb-nanoc@d4d70b9 の修正っぽいですね。

[2014-11-08 10:01] sada commented on #22
以下の問題を考えましたが、大喜利要素がないので悩んでいます。

問４ 漢数字

数値を漢数字に変換するプログラムを作成してください。
数値は、以下のような0から1_000_000_000_000_000のいずれかです。

<pre>
num = rand(1_000_000_000_000_000)
# -- ここにコードを記述してください。 --
</pre>

以下は、作成するプログラムの内容です。
- 「0」は「零」を返す。
- 「23」は「二十三」です。
- 「100」は「百」です。
- 「5000」は「五千」です。

プログラムが返す漢数字は、標準出力に出力してください。

[2014-11-08 14:41] sada commented on #22
以下のような問題の方が色々な方法が出てきそうな気もします。

問５ Hello World

以下のプログラムが書かれたhello.rbファイルがあります。

<pre>
puts("Hello World!")
</pre>

hello.rbファイルは、以下のコマンドで実行時に標準出力へ「Hello World!」と出力します。

<pre>
$ ruby hello.rb
</pre>

プログラムまたはコマンドに変更を加え、実行時に標準出力へ何も出力されないようにください。

[2014-11-08 22:08] inoh commented on #24
ご指摘ありがとうございます。
失礼いたしました。
私の修正漏れでしたのでtarget="_blank"を一律つける形で修正しました。
https://github.com/matsuerb/matsuerb-nanoc/pull/212
よろしくお願いします。

[2014-11-08 22:13] sho-h commented on #24
ありがとうございます。反映しましたー。

[2014-11-08 22:13] #24 closed, assigned to inoh

[2014-11-08 22:13] sho-h commented on #23
どもでした。昨日反映しましたー。

[2014-11-08 22:13] #23 closed, assigned to nobody

[2014-11-08 22:13] inoh commented on #24
ありがとうございます！

[2014-11-09 17:12] sada commented on #22
問６ 確率

0回から13回までのいずれかの回数だけトランプのカードを引けます。
引いたカードが、すべてスペードの絵柄である場合の確率を返すプログラムを作成してください。

以下は、トランプの内容です。
- トランプの枚数は、52枚です。
- トランプの絵柄は、「スペード、クローバー、ハート、ダイヤ」の4つです。
- 絵柄ごとにカードは、13枚あります。
- カードの種類は、「A 2 3 4 5 6 7 8 9 10 J Q K」の13種類です。

[2014-11-10 03:16] yoshiokaCB commented on #22
@sada さん
問題ありがとうございます！
また後ほどじっくり見させていただきます！！

[2014-11-10 03:16] yoshiokaCB commented on #23
ありがとうございます！

[2014-11-10 19:40] inoh commented on #15
@yoshiokaCB さん
ホームページ上のライブコーディング大喜利の内容についてどうしましょうか。
前の話だと当日説明用にページを作るとのことでしたが載せる内容について少しつめが必要に思いました。
載せる内容候補はこんな感じですかね？
- 問題を出題する流れ
- 出演者
- 出題する問題
- 問題に対する例題

[2014-11-11 01:26] yoshiokaCB commented on #15
@inoh さん

載せる内容は以下のもので良いと思います。
- 問題を出題する流れ
- 出演者
- 出題する問題

「問題に対する例題」は回答がかぶっても困るので、なしの方向にしようかと（汗）

色々とありがとうございます！

[2014-11-11 01:28] yoshiokaCB commented on #16
エントリー開始したのでクローズします。

[2014-11-11 01:28] #16 closed, assigned to nobody

[2014-11-11 12:07] sho-h commented on #10
公式サイトにも載った事だし、closeしておきまする。

[2014-11-11 12:07] #10 closed, assigned to nobody

[2014-11-11 12:10] sho-h commented on #6
うーむ、再度お願いしてみたりしてみましたが、お忙しいのか今年は設定だめかも...今年は諦めるべきかもと思ったためcloseしてしまいます。

[2014-11-11 12:10] #6 closed, assigned to sho-h

[2014-11-11 12:12] sho-h opened #25 "公式サイトにお知らせを追加"
去年は以下のエントリを作成しましたが、今年はまだだったので作ります。
- http://matsue.rubyist.net/news/2014/01/17/matrk05-ann/
  

[2014-11-11 20:51] inoh commented on #15
了解です！
では上記の３点でとりあえずページ作ります。

[2014-11-11 23:51] sho-h commented on #25
完了しました。

[2014-11-11 23:51] #25 closed, assigned to sho-h

[2014-11-12 03:56] inoh commented on #15
@yoshiokaCB さん
ライブコーディング大喜利のページを作成しました。
https://github.com/matsuerb/matsuerb-nanoc/pull/214
出演者についてはプログラムのところに載せています。
確認お願いします！

[2014-11-12 12:56] yoshiokaCB commented on #20
@AyakoMakihara さん
あと、５着でしたよね？
L 2
M 1
S 1
160 1
でどうでしょうか？
大は小をかねるということで。

[2014-11-12 12:57] yoshiokaCB opened #26 "まつもとさんへのお礼を考える。"
大問題です。
まつもとさんへのお礼を考えていませんでした。
Tシャツは昨年お渡ししてますので、今年もお渡しする訳にはいきません！
皆さんどうか良いお知恵を！！

[2014-11-12 14:37] sho-h commented on #15
あ、マージしてしまいました...
http://matsue.rubyist.net/matrk06

[2014-11-12 21:18] inoh commented on #15
ありがとうございます！
また気になる点があれば改めてプルリク送らせてもらいます。

[2014-11-13 02:16] AyakoMakihara commented on #20
@yoshiokaCB :ok_hand: これで、注文を行います♪

[2014-11-13 07:29] yoshiokaCB commented on #14
これってオープンソースでしたっけ？
どこかでチラッとそんな記述を見た気がしますが。。。
http://matsue.rubyist.net/matrk06/

利用できるなら必要な箇所を修正して利用したいですね。

[2014-11-13 13:52] sho-h commented on #14
(たかおさん、まだやるつもりなのかがちょっと気になるところですが)
CCあたりじゃないかと思ったのですが、見つけられませんでした。

[2014-11-14 00:44] yoshiokaCB commented on #14
了解です！ありがとうございます！
また土曜のMatsue.rbの時にでも相談させてください。

[2014-11-15 05:02] yoshiokaCB commented on #22
問6を採用することにしました！
@sada さん、ありがとうございました！！

[2014-11-15 05:02] #22 closed, assigned to nobody

[2014-11-15 05:50] yoshiokaCB opened #27 "当日撮影した写真をどこかに保存する。"
当日写真を撮影しますが、その写真はどこに保管しましょうか？
候補としてはFrickerとか、Instagramとか。。。

ご意見お願いします！

[2014-11-15 05:54] yoshiokaCB commented on #26
今年は物をお渡しできないので、Rubyに対して貢献したことをお伝えしたいと思います。
- smalrubyを開発してRubyの普及とプログラミングの普及に努めています。（高尾さん）
- スプラウト.rbというコミュニティーを立ち上げてRailsの普及につとめています。（松岡さん）

それで、来年はもっと貢献した人が増えるようにがんばりますとお伝えしたいと思います！

[2014-11-15 10:48] KatoAtsue commented on #26
記念品のようなものを作っていますが、まだ現物が届かないので自信がないです。
また届いたらご連絡します。

[2014-11-16 21:22] inoh commented on #15
そういえば大喜利の流れですが

**修正前**

<pre>
1. 司会者がお題を提示
2. 回答者手を挙げる
3. 回答者へモニタを切り替える
4. 回答者がコードを書く
5. コードが動くことを確認
6. 2へ戻る（数回繰り返す）
</pre>

2と4を入れ替える感じで

**修正後**

<pre>
1. 司会者がお題を提示
2. 回答者がコードを書く
3. 回答者手を挙げる
4. 回答者へモニタを切り替える
5. コードが動くことを確認
6. 2へ戻る（数回繰り返す）
</pre>

みたいな感じで修正したほうがよいですか？

[2014-11-17 00:31] yoshiokaCB commented on #26
@KatoAtsue さん
ありがとうございます！
楽しみにしております！！

[2014-11-17 00:36] yoshiokaCB commented on #15
@inoh さん
修正後に変更してもらえると助かります。
ただ、当日までにさらに変更が加わるかもしれないで、最後に以下の一文を追加してください。

<pre>
注）流れに関しては多少の変更が発生するかもしれません。
</pre>

[2014-11-17 14:24] AyakoMakihara commented on #20
注文完了！ :ok:

[2014-11-17 20:56] inoh commented on #15
了解です！
とりあえず上記の内容については修正しました。
@sho-h さん
プルリクしたので反映お願いします！

[2014-11-17 21:33] inoh commented on #20
:+1:

[2014-11-19 23:53] sho-h commented on #15
反映しましたー。

[2014-11-20 21:27] inoh commented on #15
ありがとうございます！

[2014-11-24 11:50] KatoAtsue commented on #27
参考のためにFlickrにアカウントを作って松江Ruby会議05の写真をアップロードしてみました。
https://www.flickr.com/photos/kato-atsue/sets/72157649030898759/

[2014-11-24 21:24] inoh commented on #27
Flickr
:+1:

[2014-11-25 00:32] yoshiokaCB commented on #27
めっちゃいいですね！
ありがとうございます！！
filckerで進める方向がいいですかね。
Matsue.rbでアカウントを作るかどうか確認してみますね。

[2014-11-25 01:46] KatoAtsue commented on #27
ありがとうございます。
よろしくお願いします。

[2014-11-25 06:07] KatoAtsue commented on #26
![totebag](https://cloud.githubusercontent.com/assets/5475425/5178690/837b7ffe-74b4-11e4-8e4d-73081c7203dc.jpg)
今日届きましたので、もしよかったら差し上げてください。
日系研修員の方にもよかったら差し上げてください。
Mサイズ2枚とSサイズ5枚ありますが、できれば自分用に1、2枚残していただければと思います。
正直いらなかったら遠慮なく却下してください。

[2014-11-26 02:40] yoshiokaCB commented on #26
@KatoAtsue さん
いいですね！
個人的にはいただけるとすごく嬉しいです！！（ご迷惑でなければ。）
一応他の人の意見も聞いてみますね。
あっ、自分用はちゃんととっておいてくださいね。

[2014-11-26 03:26] KatoAtsue commented on #26
どうもありがとうございます。

[2014-11-26 05:37] shugo opened #28 "問い合わせメール不通"
という話を見かけたのですが、どなたか対応できる方はいらっしゃいますか？

[2014-11-26 06:05] yoshiokaCB commented on #28
@shugo さん
ご指摘ありがとうございます！

@sho-h さん、@takaokouji さん、@inoh さん
googleのメーリングリストってメンバー以外でも送れたんですっけ？
うっかりしてました。
メンバー以外から送れない場合、今更ですが代わりのメールを準備したいです！

[2014-11-26 07:35] nishidayuya commented on #28
https://support.google.com/a/answer/170452?hl=ja によると，

ということですのでできそうです．権限のある方，確認お願いします．

[2014-11-26 07:39] yoshiokaCB commented on #28
@nishidayuya さん
ありがとうございます。
確か設定したのって @inoh さんでしたっけ？
確認をお願いします！

[2014-11-26 20:54] inoh commented on #28
設定を確認しましたが **投稿権限** が **グループ内** に限られていました。
投稿権限を **一般** に変更してグループ外のメールから確認したところ送信ができることを確認しました。
今まで問い合わせがあってもとれてなかったってことですね。。。失礼いたしました。

[2014-11-26 23:48] AyakoMakihara commented on #20
本日11/27に　Ｔシャツが到着予定です :octocat:

[2014-11-27 00:52] sho-h commented on #26
:+1:

[2014-11-27 00:53] sho-h commented on #20
:+1:

[2014-11-27 01:04] yoshiokaCB commented on #28
@inoh さん
ありがとうございます！助かりました！！
ちゃんと確認しないとダメですね(^^;)　色々と油断してました。
こちらこそ失礼しました。

@shugo さん
ツイートされた方とは直接やり取りをしてましたので、特に連絡の必要はないかと思いますが、一応問い合わせ用のメールが使えるようになったということをお伝えいただいてもよろしいでしょうか？
色々とありがとうございました。

[2014-11-27 12:04] KatoAtsue commented on #26
特に問題なければ、Mサイズ1枚、Sサイズ4枚を当日持参します。
講演または参加される方にお渡しいただけると嬉しいです。
余ったら持ち帰るので会議の進行上負担にならないようにしてください。

[2014-11-28 02:33] yoshiokaCB opened #29 "サイトにバナー広告を掲載する"
@inoh さん

すみませんが、スポンサーに2社追加をお願いします！
- Nacl ネットワーク応用通信研究所
- ファーエンドテクノロジー株式会社

画像は後ほどお送りします。

[2014-11-28 20:12] inoh commented on #29
了解でーす

[2014-11-28 20:12] #15 closed, assigned to inoh

[2014-11-28 20:28] inoh commented on #3
懇親会予約の途中経過です。

**一般**
アルコールあり 12名
アルコールなし 1名

**学生**
アルコールあり 1名
アルコールなし 3名

[2014-11-28 22:16] inoh commented on #29
修正してプルリク送っておきました！
https://github.com/matsuerb/matsuerb-nanoc/pull/222

[2014-12-01 05:43] yoshiokaCB commented on #29
確認しました。ありがとうございます！

[2014-12-01 05:43] #29 closed, assigned to nobody

[2014-12-01 05:45] yoshiokaCB commented on #14
当日口答で注意します。
講演者にはあらかじめ注意を喚起しておきます。

[2014-12-01 05:45] #14 closed, assigned to inoh

[2014-12-01 12:18] yoshiokaCB opened #30 "当日スケジュールの調整"
急遽スペシャルゲストの講演が追加されるため、スケジュールの調整をしたいです。
1. まつもとさんの基調講演の後に15分程度時間を作ろうと思っています。
2. 現在本会議の終了時間が17:45となっていますが、18:00に変更したいです。
3. それに伴って懇親会の開始時間は18:45くらいにしたいです。
   （もともと会議終了が17:45で懇親会の開始時刻が18:00で時間的に無理がありそうで気にしてました。）

募集開始後の変更で申し訳ないですが、大きな問題が無ければ、上記内容で調整したいです。
一応 12/3 に変更を決定したいと思いますので、それまでにご意見ありましたらお願いします。

@Takashi-U
懇親会の時間変更って大丈夫でしょうか？
（会場の予約の関係とケータリングの関係）

@inoh さん @sho-h さん
またサイトの修正が入るかもしれませんが、そのときはよろ

[2014-12-02 01:58] Takashi-U commented on #30
会場につきましては、18時から22時で借りてます。念のためテルサ事務局さんに電話して、確かにこの時間帯で借りているという所確認致しました。

カプリチョーザさんにつきましては、変更依頼をしておきました。違う担当の方（Iさん）が出てこられたので、（Hさんに）伝言という形になりました。
後日確認は必要かと思いますが、時間帯が後ろに行く分には問題無いかとも思います。

ですので、懇親会担当としましては、変更を決定して頂いてOKでございます。
よろしくお願いします。

[2014-12-02 02:05] amidaku commented on #30
えーと中継班からの要望です。
中継準備に1.5hぐらいかかりますので、当日は10:00amに入ります。
で、終わりですが、片付けに1.0hは必要です。当方懇親会には出ませんが片付けに加わっていただける方々は参加されると思いますので、そのあたりの配慮をお願いしたいです。

[2014-12-02 02:23] yoshiokaCB commented on #30
@Takashi-U
ありがとう！
仕事早くて助かります。

@amidaku さん
そうなんですよね。
片付けはもちろん、懇親会の準備の人はクロージング終わってからで間に合うかなど気にすることは色々ありますよね。片付けに関してはまた相談させてください。

[2014-12-02 07:27] yoshiokaCB opened #31 "スポンサーバナーの表示の乱れ"
サイトのスポンサーの表示についてですが、横幅が狭くなるとバナーの端が見切れてしまいます。
至急修正します。

[2014-12-02 07:34] yoshiokaCB commented on #31
@sho-h さん
さっきプルリク送りました。
マージお願いします。

@inoh さん
今回は急ぎだったので、こちらで修正しちゃいました。
また次回変更お願いします！

[2014-12-02 15:15] sho-h commented on #31
すみません。遅くなっちゃいました。反映しました。

[2014-12-02 15:15] #31 closed, assigned to nobody

[2014-12-02 15:15] yoshiokaCB commented on #31
ありがとうございます！！

[2014-12-02 15:16] #28 closed, assigned to nobody

[2014-12-03 11:44] yoshiokaCB commented on #26
@KatoAtsue さん
ぜひぜひ、お願いします！

一枚はまつもとさんへお渡しして、残りを懇親会のじゃんけん大会に使用したいと思います！

[2014-12-03 11:44] #26 closed, assigned to nobody

[2014-12-03 12:33] KatoAtsue commented on #26
吉岡さん、どうもありがとうございます。よろしくお願いします。

[2014-12-03 13:48] yoshiokaCB commented on #27
@takaokouji さんがMatsue.rb用のアカウントを作成します。
作成後、 @KatoAtsue さんへアカウント情報を教えてあげてください。
お二人ともよろしくお願いします。

[2014-12-03 13:52] yoshiokaCB opened #32 "アンケート用紙を作成する"
各セッションごとの感想や質問などを書いてもらう用紙を作成する。
懇親会で質問の回答時間を用意する。

用紙は @takaokouji さんが作成予定。
一週間前に状況を確認し場合によっては @yoshiokaCB が作成。

[2014-12-03 20:20] inoh commented on #3
懇親会予約の途中経過です。

一般
アルコールあり 19名
アルコールなし 2名

学生
アルコールあり 1名
アルコールなし 3名
キャンセル待ち 1名

とりあえず一般の目標人数の２０人に達成したのと学生のキャンセル待ちが発生している状況です。

[2014-12-03 21:52] Takashi-U commented on #3
割合的に、アルコールの方が多いので、今回の学生さんは受け入れ可能です。

私の方で一枠増やしておきますね。

[2014-12-03 21:54] inoh commented on #3
@Takashi-U さん
ありがとうございます！
よろしくおねがいします

[2014-12-08 02:44] Takashi-U opened #33 "懇親会の領収書を作成する"
今回の懇親会は会場費も含まれているので、運営側で領収書を発行する必要があります。

領収書の雛形は @takashi-u が作成します。
代表者は @yoshiokaCB さん、組織名は「松江Ruby会議06 実行委員会」でよろしいでしょうか？

[2014-12-08 03:16] yoshiokaCB commented on #33
特に他から意見がなければ、それでOKです。

ちなみにここで作ろうかと思ってました。
https://xn--lorw95b519a.net/

まぁ、細かいことはプロにお任せします。
自分はハンコウつけばOK？
必要なら印刷するよ。

[2014-12-08 03:18] amidaku commented on #33
SITWもJAWSも僕がやるイベントは全部それでやってますよ。

[2014-12-08 03:24] Takashi-U commented on #33
早速にありがとうございます。
では、本件につきましては私が取りまとめます。

詳細については個別にご連絡させていただき、こちらには進捗を記載していきますね。

[2014-12-08 05:26] amidaku commented on #12
こんなissue立てていたことを忘れていました。
チャンネルは作成済みです。ので、closeします。

ぼちぼち宣伝スライドショーを準備しますので、流したい画像などあれば直接僕にください。

[2014-12-08 05:26] #12 closed, assigned to nobody

[2014-12-09 20:52] inoh commented on #3
懇親会予約の途中経過です。

一般
アルコールあり 21名
アルコールなし 5名

学生
アルコールあり 1名
アルコールなし 4名

@Takashi-U さん
とりあえず一般の枠を26名にしていたのでいっぱいになりました。
枠の拡張は可能でしたっけ？

[2014-12-09 21:27] inoh opened #34 "講演の参加者人数について"
Doorkeeperでの問い合わせですが当日飛び入りで５名程度参加が可能かとメッセージがありました。
- 特に人数制限は設けない
- 席が足りない場合は立ってみる

でよかったですよね？

[2014-12-09 21:28] inoh commented on #34
ちなみに現在のDoorkeeperでの講演のエントリ数は41名で55名の制限にはしてあります。

[2014-12-10 02:13] Takashi-U commented on #3
枠の拡張は大丈夫です。
学生ももう少し大丈夫そうです。

一般4名
学生2名

追加しておきます。

[2014-12-10 12:28] inoh commented on #3
ありがとうございます！

[2014-12-13 02:53] yoshiokaCB commented on #32
作成終了。
当日後ろの方で記入してもらうか、懇親会の会場で記入してもらう予定です。

[2014-12-13 02:53] #32 closed, assigned to nobody

[2014-12-13 03:56] yoshiokaCB opened #35 "レポート班の人員配置"
@sho-h さん

自分の把握してる人は以下の人ですが、セッションごとの割り振りは大丈夫でしょうか？

それと小嵜さんは仕事の都合で当日欠席とのご連絡をいただいてます。
レポートの人員補給が必要ですか？

[2014-12-13 04:04] yoshiokaCB opened #36 "当日の写真撮影について"
@KatoAtsue さん

当日の写真撮影についてですが、以下の人たちが当日写真撮影をしてくれる予定です。

@AyakoMakihara さん
@inoh さん
@tomo-k さん

撮影した写真をどうやって加藤さんに送るかなどスタート前に確認しておいてもらえると良いかもしれません。
あと、各セッションで撮影漏れがないよう、簡単な担当を決めをされてると良いかもしれません。

[2014-12-13 05:47] AyakoMakihara commented on #36
了解しました！ :ok_woman:

[2014-12-13 05:49] AyakoMakihara commented on #35
@sho-h 受付・写真撮影を兼ねてますし、初めての参加なのでレポート班は難しいと思います。御調整頂きたいです！

[2014-12-13 05:52] AyakoMakihara commented on #20
当日、配付します :rabbit2:

[2014-12-13 06:53] nishidayuya commented on #35
http://matsue.rubyist.net/matrk06/#program

そうすると，橋本さん，佐田さん，本多さん，井上さん，西田 の5名で以下を担当する形でしょうか．

[code]

[2014-12-13 07:34] KatoAtsue commented on #36
了解です。どうもありがとうございます。

[2014-12-13 08:13] Takashi-U opened #37 "懇親会の受付・設営係を決める"
懇親会の受付係と設営係（兼務）を決めさせてください。

懇親会の設営については、カプリチョーザさんが基本的には行います（料理等の配置）が、LTのスペース確保と椅子等の配置を確認して、必要があれば多少動かす程度の軽作業です。（5分程度）

設営の後は受付係をそのままの流れで行います。

3名必要の見込みです。そのうち一人は @Takashi-U が行います。

[2014-12-13 08:34] Takashi-U commented on #37
1名はゆんさんにご協力いただける事になりました。

[2014-12-13 10:50] kazuki-harada commented on #37
$B86ED<uIU$d$j$^$9$h$s!*(B

iPhone$B$+$iAw?.(B

2014/12/13 17:13$B!"(BTakashi Uchibe notifications@github.com $B$N%a%C%;!<%8(B:

[2014-12-13 11:14] Takashi-U commented on #37
もう一回お願いします〜

[2014-12-13 13:15] yoshiokaCB commented on #34
45人で申し込みは終了しました。
当日、申し込み無しで来られた人は「立ち見になります」とお伝えしてご案内する予定です。

[2014-12-13 13:15] #34 closed, assigned to nobody

[2014-12-13 13:15] yoshiokaCB commented on #30
スケジュール調整完了！

[2014-12-13 13:15] #30 closed, assigned to nobody

[2014-12-13 14:04] yoshiokaCB opened #38 "本編の受付について"
@AyakoMakihara さん　@kaorimatsuokaさん　原田さん　石原さん

以下、当日の受付について、注意事項です。
ご一読ください。
また、何か他にありましたらこちらのissueに書き出しておいてもらえると助かります。
- 当日の受付は13時くらいから開始したいと思います。
- 受付時に懇親会に参加される方から参加費も集めておいてください。
  （集めたお金は持ってるのが不安なら @Takashi-U or @yoshiokaCB に預けてください。）
- 領収書は @Takashi-U さんが準備します。
- 参加者リストは @inoh さんか @Takashi-U さんが準備します。
- 参加申し込みなしで来場された方に関しては参加者リストに名前を書いてもらってください。
  （定員はいっぱいですが、とりあえず入場してもらう方向で対応をお願いします。）
- 受付が終わ

[2014-12-13 14:10] yoshiokaCB commented on #19
発表の順番など詳細は当日お伝えします。
懇親会の開始が18時45分頃になりそうなので、LTは19時30分くらいからボチボチ開始したいと思います。

[2014-12-13 14:43] Takashi-U commented on #38
この辺りお話をしていませんでしたが、思うところありますので懇親会の受付は自分にやらせてください。その補助をどなたかお一人にお願いしたいところです。

このIssueができる前までは、懇親会の会場にて集金をするものかと思っておりました。失礼しました。
私を含めると受付5名という事になります。多すぎるのか適切かはわかりませんが…

[2014-12-13 15:18] yoshiokaCB commented on #38
@Takashi-U
了解っす。よろしくお願いします。
5人は多分受付に立てないので、入れ替わりで受付とかにしたらいいですかね？
細かいところは皆さんにお任せします。

[2014-12-13 15:20] Takashi-U commented on #38
ありがとうございます！

[2014-12-14 00:54] kazuki-harada commented on #37
失礼、再投稿。
原田やります一

[2014-12-14 02:17] AyakoMakihara commented on #38
@Takashi-U 写真撮影可能かどうか、受付でお聞きしていた方が良いでしょうか？また、ＮＧの方には何かわかる目印（シール）など、ご配慮が必要かどうか教えてください。

[2014-12-14 09:20] yoshiokaCB commented on #38
聞いてもらうの良いですね！！
一応最初の挨拶で撮影されたら困る人って聞こうと思ってましたが、受付で聞いて目印あるとより確実ですよね。

[2014-12-14 09:21] sho-h commented on #35
@yoshiokaCB さん、ありがとうございます。忘れてました...5人居れば最大2人が2つまでやればいいので割と例年通りかなと思いますのでおそらく大丈夫です。

@AyakoMakihara さん、了解ですー。

@inoh さん、 @nishidayuya さんが挙げてくれたものでどれ希望とかあります？それ以外は月曜以降にでもえいやっと決めちゃおうかと思います。

[2014-12-14 09:48] Takashi-U commented on #37
ありがとうございます！
予定人数に達したのでクローズします。

よろしくお願いします！

[2014-12-14 09:48] #37 closed, assigned to nobody

[2014-12-14 09:50] Takashi-U commented on #38
ご指名いただいたのに遅くなってすみません。

名札等の何かアイテムが必要になりますが、その点どうでしょうか？

@yoshiokaCB さん、僕が知らないだけだったらすみません。名札等の設えは予定されてますでしょうか？

[2014-12-14 11:54] KatoAtsue commented on #36
当日写真撮影をしていただいた方は、Flickrまたはストレージサービスなどにアップロードしていただき、URLをこのイシューかメールで教えていただけますでしょうか。
他にも良い方法があったらお知らせください。
また、吉岡さんの講演「Matsue.rbのふりかえり - 2014 -」の時、どなたかに撮影していただけると助かります。
よろしくお願いします。

[2014-12-14 12:53] yoshiokaCB commented on #38
名札などは使用しない方向で考えてました。
今から名札を準備するのもちょっと大変そうですよね。

「顔をアップで写したりはしないので、写真に少し写り込んだりしても大丈夫ですか？」とか聞き方すれば、大体OKもらえるんじゃないですかね？
それか、オープニングでも聞くので、そこで手を上げる人は撮影者がしっかり覚えとくとかどうですかね？

[2014-12-14 13:54] yoshiokaCB commented on #3
@Takashi-U
当日、急遽参加したいって人の対応はどうします？
断るでOK？

[2014-12-14 21:21] inoh commented on #35
私はライブコーディング大喜利以外であればどこでもよいですよー。
初めてのレポートなので実際書くときまたご支援ください！

[2014-12-14 22:38] Takashi-U commented on #3
なるべくなら受け入れをと考えてます。火曜日にご挨拶へ伺うので、その時に何処までご対応いただけるかで判断します。

気持ちとしては受け入れたいですが、可能かどうか等は保留とさせて下さい、

[2014-12-14 22:40] Takashi-U commented on #38
ガッテンです。数が少ない見込みなので、臨機の対応という事で理解しました。

[2014-12-14 23:50] AyakoMakihara commented on #38
では、受付で写真の件はご確認させて頂きます :ok:

[2014-12-14 23:55] KaoriMatsuoka commented on #38
@Takashi-U
つり銭を用意してます。
私は他に役割ないですし、受付補助しますよ。交代するほどの作業量もないですし。

[2014-12-15 12:44] sho-h commented on #35
@inoh さん、了解です。じゃあ、パネルディスカッションをお願いさせてください。

以下の担当になるように相談しました。

[code]

という事でcloseします。

[2014-12-15 12:44] #35 closed, assigned to nobody

[2014-12-16 03:40] inoh commented on #27
@yoshiokaCB さん @takaokouji さん
Flickrアカウントどうしましょう？
もしあれば事前に確認しようと思いましたが急がないようであればRuby会議後日に改めてでよいかと思います。

[2014-12-16 12:17] yoshiokaCB commented on #27
えーと、今のところ高尾さんと相談中でして、二人の希望としてはmatsue.rbのサイトのどこかに画像ライブラリーのページを作りたいねと協議中。
なので、とりあえずどこかにひとまとめにしてもらえると助かります。
（web上でもローカルでもOK）

[2014-12-17 20:21] inoh commented on #27
了解しました。
また共有しやすい形でまとめて画像提供できたらと思うのでまた写真班で調整してつなぎます

[2014-12-18 03:43] AyakoMakihara commented on #36
@inoh さんがRuby会議用にfbグループを作成してくれたので、こちらのアルバム作成で管理する事になりました。メモとして記載しておきます :memo:

[2014-12-18 03:44] #20 closed, assigned to nobody

[2014-12-18 04:17] takaokouji commented on #36
_ちょっとこれは私と吉岡さんの考えなので相談が必要なのですが_、各セッションで2枚程度の写真を公式サイトにアップロードすることを想定しています。また、サイズは400x300ピクセルとか、800x600ピクセル程度を想定しています。

それ以外のものは、オフィシャルではなくて、個人的に撮影していただいたものとして、それぞれのFlickrなどのウェブサービスで公開していただくとありがたいですね :sweat_smile:
(実は、いろいろなウェブサービスの認証が厳しくなってきており、一人が複数のアカウント取得するのは難しくなってきています)

なにがいいたいかといいますと、写真撮影の担当の方で、Facebookのアルバム機能などを利用してベストショットを選考するところまでやっていただけないでしょうかね。決まったタイミングで、ウェブ担当の方にアップロードしていただく想定です。
あと、当日はたくさ

[2014-12-18 04:20] takaokouji commented on #27
ごめんなさい :bow: これは難しくなりました。
アカウントの作成には、携帯の電話番号が必要なのですよね。Matsue.rb用というのが難しくて...

ということで、

で進めていて、なおかつ、1セッションに1、2枚程度の写真を想定しています。
ウェブ担当の方に、写真担当の方が、選考した写真をアップロードしていただく必要がありそうです。

[2014-12-18 04:30] sho-h commented on #36
関連する発言：https://github.com/matsuerb/matrk06/issues/27#issuecomment-67439559

[2014-12-18 04:33] takaokouji commented on #27
写真付きで開催レポートを公式サイトでも公開できるといいな〜と、勝手に思ったり...
ちょっと当日にウェブ担当のみなさまと相談ですね :smiley_cat:

[2014-12-18 04:34] sho-h commented on #27
電話番号って「パスワード忘れたらここにメッセージ送るね」って書いてあるんですけど、あまり問題があるように見えませんでした。重複ができないとかですか？

[2014-12-18 05:44] takaokouji commented on #27
はい、そういう想定です。が、違うのかな... :sweat_smile:

[2014-12-18 08:58] Takashi-U commented on #27
一つの案ですが、Flickrで例えば松江Ruby会議06Groupを作成して、写真を撮影した皆さんがそのGroupに写真を供与するというのは考えられます。

メリットとしては、（メンバーも概ね同じですし、脱落するというのは基本的に無いでしょうから）次回以降も同じ仕組みで行えること、通常の活動についても活用できること、等があるでしょうか。

デメリットとしては、写真を供与する人がそれぞれにFlickrのアカウントを取得する必要があること等でしょうか。。

案です。はい。

[2014-12-18 10:06] takaokouji commented on #27
ふむふむ。
すみませんが、写真担当の方で良さそうな方法を検討いただけるとありがたいです。

2014年12月18日木曜日、Takashi Uchibenotifications@github.comさんは書きました:

##

Kouji Takao kouji.takao@gmail.com

[2014-12-18 10:10] sho-h commented on #27
ふーむ。とりあえずどうするかは別として質問した理由を書いてなかったので書いてみます。

写真係の皆さんがよければ実は問題はありませんが、特に誰からも意見が出ない場合は僕は各セッションに1、2枚というのは反対したいなぁと考えています。というのも数名の方に撮っていただくのですが、その数だとどなたかの写真が全てが採用されない可能性がある事を危惧しています。公開前提で折角撮っていただく訳ですのでできる限り公開したいです。

Yahooアカウントのヘルプを見る限りでは重複できないかはよくわかりませんね。[Rails Girlsでも写真をまとめて](https://www.flickr.com/photos/109849144@N02/)いるので、本当にそうなのかなとは思いました。これがGroup？

今気づいたのですが、(本筋じゃないけど)これはRubyist Magazineに載った後でという感じ

[2014-12-18 10:27] takaokouji commented on #27
@sho-h ちょっと補足ですが、1, 2枚というのは、
- Flickr は電話番号が必要なのでMatsue.rb用のアカウント作成は難しそう(実際にそうなのかは試していません...)
- ということで、画像は公式サイト(GitHub pages)に配置する
- 容量も限られているし、checkoutしたときに容量が大きいのもあれなので、各セッションで 1, 2枚かな〜

といったことから、吉岡さんと相談していました。
もし他の手段でかつ、私ではない方が作業されるのでしたら、どのような方法でもOKです :smiley:

特に時期は考えていませんでした。みなさんの思うようにしたいですね。開催レポートは Rubyist Magazine へのリンクでも良さそうですね。

[2014-12-18 10:30] takaokouji commented on #27
いまこのissueを読み直してみると、私は共有アカウントの作成だけを依頼されていたので、「共有アカウントの作成は難しいです、ごめんなさい :bow: 」とだけ相談すればよかったのですね。公開方法まで考えてほしいとは相談されてなかったですね。しまった orz

[2014-12-18 10:37] takaokouji commented on #36
すみません、 #27 にて松江Ruby会議06としてどのように公開するのか議論している最中でして、

の部分は確定ではないです。
写真担当の方、お手数ですが #27 もご確認いただき、よろしければご意見ください :bow:

[2014-12-18 10:37] sho-h commented on #27
そうですね。GitHub Pagesは結局GitHubにコミットするので1ファイル50MB未満だったり、全体で容量が...とかいう理由だとは思っていました。でも試してすらないのに提案する内容としてはやっぱり重いと感じます。といってもやっぱり写真係の方々の都合がよければそれで問題ないのですが...

つまり、「レポート」の意味はRubyist Magazineに載るような内容のものを指すという事ですね。ではリンクを希望します。

[2014-12-18 10:38] amidaku commented on #27
ちょっと部外者が整理かけますが、要件的に
- いっぱい保存できる
- 複数の人がUPする
- UPした物が閲覧できる
- 必要なら（それなりの解像度で）ダウンロードできる

と言うことなのだと感じました。
全ての要件を満たすとなると、アップロード制限はありますが、撮られた方全員がアカウントを作成してFlickr等へあげるしかないと思いました。

あとは何かアプリをクラウドサーバにインストールして...
ファイルの保管だけとかであればいろいろ考えられると思いますが、閲覧したりその他を考えると皆さんがアカウントを作られるのが普通な感じがします。

Flickrもそうですが、instagramやFacebookもアップロードされたファイルの品質は落として公開されるので、そのあたりはご留意ください。

[2014-12-18 10:52] takaokouji commented on #27
たしかに、たしかに...
提案はなかったことに... ならないですかね :sweat_smile:

[2014-12-18 11:09] Takashi-U commented on #27
https://www.flickr.com/groups/matsue/

Groupの例です。

[2014-12-18 11:24] inoh commented on #27
皆様いろいろとアドバイスありがとうございます。
私が考えていた途中経過です。
松江ruby会議用のFlickrアカウントですが私も実際作成しようと思いましたが同一の電話番号で複数アカウントは作れましたが結局同一のFlickrの領域になってました。
Flickrの共有も考えましたが私が経験がなく少しハードルが高いように思えたので下記の２点の案に絞っていました。
1. GoogleDriveで写真を共有
2. Facebookで写真を共有

1については写真が劣化しないというメリットがありますが共有の設定がいるのでメンバ追加がめんどう。
2についてはすでにFacebookのグループがあるのでそこのアルバムにそのままあげれば準備が不要。
ということでとりあえず写真を共有するという点でFacebookにあげることを考えていました。
たとえFacebookにあげたとしてホームページにあげるレベルであ

[2014-12-18 11:30] amidaku commented on #27
:smile:

[2014-12-18 11:33] ToruKurahashi commented on #27
横からすみません。サーバ立てるの得意な方がhttps://github.com/afternoonrobot/photographer-ioとかサクッと構築してみるとか。

[2014-12-18 11:38] yoshiokaCB commented on #27
Facebookに掲載もいいですね！

原本ですが、出来ればそのときに集めておきたいです。（当日という意味ではなくても）
なので、写真班に撮影した写真を集める方法だけ当日考えてもらいましょう。
もしくは、どこかにアップではなくその日にリーダー使って画像をもらうでも良いです。
一応言い出しっぺなので自分リーダー準備しておきます。

それの共有をどうするかは、また相談しましょう。まぁ、基本FBかFlickrが良いかなとも思っています。個人個人でFlickrを使用するのがハードルが高いならまとめた者を自分でアップロードしますので。

[2014-12-18 12:12] yoshiokaCB commented on #27
あっ、ごめんなさい。まだ相談しましょうじゃないや。

@KatoAtsue さん　 @inoh さん　@AyakoMakihara さん　 @tomo-k さん
希望として原本は何らかの方法で当日か次回の定例会くらいまでで集めときたいです。
必要な時にもらい直すのはやりとりが大変かなと思ってのことです。
あとは写真班のみなさんがどの方法が共有しやすいか相談が必要かもしれないですね。
日にちないんで、当日、少し話し合ってもらうとかできますか？
多分あって話せば5分くらいで終わると思いますんで。
FBでもFlickrでもGoogleDriveでもなんでもいいですよ。

@sho-h さん
ウェブサイトでの掲載は橋本さんの意見もごもっともだと思います。
なので、写真の選考方法も含め、その件は1月の定例会のときにでも相談させてください。
（そんなに急ぐことでもないと思っているので。）
ちなみにるり

[2014-12-18 12:17] yoshiokaCB opened #39 "当日の会場準備手伝いについて"
皆さんにお願いです。

当日、参加人数が50名を超えています。
なので、会場を出来るだけ広く使うために机を別の場所に移動します。
移動させる作業のお手伝い募集します。
来れる人は11時くらいにラボに来てください。
来れる人ここで意思表明お願いします。
人数少ないようでしたら個別にお声がけさせてもらいます。

[2014-12-18 14:02] Takashi-U commented on #39
概ねその時間に行けます。多分間に合うと思いますが、遅れてもそんなには遅れないです。

[2014-12-18 14:28] takaokouji commented on #39
行きます！

2014年12月18日木曜日、Takayuki Yoshiokanotifications@github.comさんは書きました:

##

Kouji Takao kouji.takao@gmail.com

[2014-12-18 15:31] sho-h commented on #27
@yoshiokaCB さん、掲載については僕的には撮ってくださった皆さんの合意が得れていれば特にですが、Flickrがどうしてもダメという事があればGitHub Pagesにコミットしてしまう案を一度検討してもらったらいいのかなとは考えています。重い言うても僕が待てばいいだけですので。サイズについてはGB単位になってから気にする案です。
レポートについては別にダメって言われた事はありませんが、Rubyの会の支援を受けてる&&支援に対してレポートを書いていると思っているので同じような内容であればRubyistMagazineへの掲載後を希望する立場を取りたいと考えています。読者のためには初出はRubyistMagazineにすべきかなと勝手に考えてるだけなのですが。なので「開催しました」程度であれば特にという考えです。

@ToruKurahashi さん、サーバを立ててくださるとは...

[2014-12-18 15:38] sho-h commented on #39
( ﾟдﾟ)ﾉ

[2014-12-18 15:56] Takashi-U commented on #39
@takaokouji さん、 @sho-h さん、当日は名刺を忘れずに･･･

[2014-12-18 16:13] sho-h commented on #39
ぼ、僕は常にカヴァンに入ってますよ...(枚数を確認しとかなくちゃ

[2014-12-18 16:26] sho-h commented on #21
やっと発行できた。

[2014-12-18 16:26] #21 closed, assigned to sho-h

[2014-12-18 20:43] inoh commented on #27
@yoshiokaCB さんが言われるとおり、当日に写真の受け渡しですがシンプルに考えて原本がいる方に直接PCへコピーしてもよいかと思いました。
なんならCD（DVD?）も持参して欲しい人には焼いてくばっちゃうのもありかもと思いました。

@sho-h さん
FlickrやGitHubを採用しなかった理由ですが撮った側が公の場と気にせず写真を選ばずぽんぽんあげれればという気持ちからでした。
Flickrならいろいろと設定があるのでいじればできそうですがそのあたりも含めてまた当日相談させてください！
@AyakoMakihara さんがrailsgirlsでアカウントをとっていたのでもしかしたら電話番号同じでも別にとれる？と期待もしてます。

@ToruKurahashi さんがサーバを立ててくださるそうなのでとりあえず気にしなくてよさそうな雰囲気...です？

[2014-12-19 00:36] sho-h commented on #27
@inoh さん
あ、ごめんなさい。選別は今のままで異論ないです。その後でFlickr でも Facebookのグループでそのまま公開する？でもCDでもいいと思いますが、僕が追加で提案させてもらったのはどれも選択肢として不当ならGitHub Pages(公式サイト)に枚数を気にせずあげたらいいんじゃないかというものです。僕が嫌なのは人数の割に厳選された十数枚だけ公開するという事を気軽に選択するという事だけです。

[2014-12-19 00:38] nishidayuya commented on #39
来ます!

[2014-12-19 01:19] sho-h commented on #39
そういえば何名くらいいると大丈夫です？必要ならもう1人くらい近くにいる人に声かけれます。

[2014-12-19 01:41] sho-h commented on #27
あとそういえばRails Girlsのドキュメントで賢いなと思ったやり方を思い出したのですが、画像はdropboxなどに挙げておいてGitHub Pagesからはそれを直接表示するというものでした。ドキュメントだと画像の差し替えが楽というメリットがありますが、今回の場合はサイズを気にしなくていいというくらいかもですね。

[2014-12-19 01:43] amidaku commented on #39
僕と土井さんはもう少し早めに入りますが、中継準備の方で手が離せないと思います。
机移動等のお手伝いできないと思います。
また、 @rockzero は部活終わってから移動してくるので作業の方は難しいと思います。
よろしくお願いします。

[2014-12-19 01:46] yoshiokaCB commented on #27
@sho-h さん
了解っす。お気持ちわかりました。支援 = 執筆料 と考えるとしっくりきますね（あってる？）
自分もせっかく皆さんが撮影してくれた写真なので、すべてどこかで見れるようにしたいと考えています。それがFBなのかFrickrなのかGoogleDriveなのかはまた写真班の方へ協議してもらいましょう。

githubにそのままのサイズで全部載せるのはちょっと気になりますね。というのもgit clone とかしたときにしたときに時間がかかりそうで。。。新しくメンバーのところを修正してもらう人のにハードルが上がるかなと。
なので、開催されました的なページはまたご相談させてください。文字のやり取りだと大変なんで。

あっ、「るりま」って書いてたwww

@inoh さん
CD/DVDのライターもってないっすw
cdやdvdなら何枚か持っていきますよ。

[2014-12-19 01:49] amidaku commented on #27
当日中継関係でMBP17持って行くので、中継時間じゃなかったらＤＶＤ焼けますよ。ただ懇親会は出ないので時間的にアレかもですが。

[2014-12-19 01:55] yoshiokaCB commented on #39
@sho-h さん
嬉しいです！
ここに参加表明してもらってください。
あんまり多くいても手持ち無沙汰になるので、ここでの表明は5人くらいかと思ってます。
（表明されてないけど倉橋さんが来られるはず。）
基本机を別の場所に移動すること以外特にやることないので。
なので、今のところ
1. うちべっこ。
2. 高尾さん
3. 橋本さん
4. 西田さん

あと、一人のくらいですかね。
そこに吉岡と倉橋さんを足してトータル7人も集まれば十分かなと。

@amidaku さん
了解っす。だいたい事情は知ってますんで、大丈夫です！

[2014-12-19 01:55] yoshiokaCB commented on #39
参加表明してもらったらクローズします。

[2014-12-19 01:58] sho-h commented on #27
git cloneについては確かにGitHub Pages を選択する場合はmatsuerb-nanocの方は何かしら工夫が必要そうですね。matsuerb.github.ioだけにすれば影響は最小です。matsuerb-nanocで必要な人だけがコマンドで写真取ってくるとかを考えていました。

[2014-12-19 02:01] ToruKurahashi commented on #39
這ってでも行きます。

[2014-12-19 02:02] sho-h commented on #39
@sada くんに声を掛けてOKをもらいました！

[2014-12-19 02:10] yoshiokaCB commented on #39
はい。ありがとうございます。
集まらなかったら真っ先に声がけさせていただく予定の人でした。
空気読んでいただきありがとうございます！

[2014-12-19 02:10] #39 closed, assigned to nobody

[2014-12-19 02:20] yoshiokaCB commented on #27
@amidaku さん
うーん時間ないかもしれないですね。
そもそも焼くかどうかもまだ確定ではないので、大丈夫ですよ。

@sho-h さん
了解っす！何か解決策あるならそれも検討材料にしましょう！

[2014-12-19 09:34] takaokouji commented on #39
すみません、家族が体調を崩しまして(^^;;
明日は12:30くらいには行きたいと思いますが、ちょっとわからないですm(_ _)m

##

Kouji Takao kouji.takao@gmail.com

[2014-12-19 13:22] Takashi-U commented on #37
Close後に失礼します。
当日に必要な作業等が発生しておりまして、僭越ながら個別にお声がけさせていただき、担当者を追加させていただきました。

会場の設営につきまして、RailsGirlsMatsueのオーガナイザーお二人にお願いしました。（快諾ありがとうございます！）

会場の椅子や机の配置といったところは、打ち合わせの上お二人にお任せしたいと思っております。（もちろん、私も設営として一緒に作業できる限りがんばります。）

受付のお二人と設営のお二人、うちべっこ。の体制でございますが、当日の状況によってはお手伝いをお願いするお声がけするような事も有ろうかと存じます。その際には何卒よろしくお願い申し上げます。

[2014-12-19 15:01] yoshiokaCB commented on #37
明日初めのミーティングで話をふるので皆さんに簡単に説明してもらってもよい？

[2014-12-19 15:02] yoshiokaCB commented on #19
上記のように決定しました。

[2014-12-19 15:02] #19 closed, assigned to nobody

[2014-12-20 03:48] inoh commented on #36
担当たたき台

撮影する場面

| 場面 | 講演者 | 担当 |
| :-- | :-- | :-- |
| 開会あいさつ | 吉岡さん | 井上 |
| 基調講演 | まつもとさん | 井上 |
| ショートセッション | 笹田さん | 加藤さん |
| ライブコーディング大喜利 | 多数 | 加藤さん |
| ゲスト講演 | 倉貫さん | 木村さん |
| Matsue.rbのふりかえり - 2014 - | 吉岡さん | 木村さん |
| パネルディスカッション | 高尾さん | 槇原さん |
| スモウルビーでライブコーディング | 本多さん | 槇原さん |
| クロージング | 吉岡さん | 井上 |

[2014-12-20 11:23] sho-h opened #40 "公式サイト/scheduleの更新"
以下を更新する。
- 参加受付中→終了(6X名参加)
- リンク先にUstやTogetter(その時にあれば)を追加
- matrk06のページも終了にしてしまう(メールの問い合わせ先も削除)

[2014-12-20 11:35] sho-h opened #41 "レポート作成"
以下のような流れを考えています。
- LTの担当を決めてなかったのでLTも決める
  - @inoh さんどうでしょうと声をかける予定
- どこで作成するか相談する
  - 05と同じならGoogleGroup
- #35 とLTの担当に従って作成する
- [ドキュメント](https://github.com/ruby-no-kai/official/wiki/RegionalrubykaigiRubimaReport)にそって、[るびまレポジトリ](https://github.com/rubima/rubima)にプルリクする

[2014-12-20 14:41] inoh commented on #41
今日はお疲れさまでした。
私担当のセッションが中止になって油断してました。
懇親会のときの録画とかないですよね？
LTの話をきちんと聞いてなかったので覚えてたり覚えてなかったり

[2014-12-21 05:00] amidaku commented on #40
昨日は、お疲れ様でした。
Ustですが、一月程度で録画は削除されるので、uri載っけるのはやめといたほうが良いと思います。
そのうちセッション毎に分割した録画をYoutubeで公開する予定ですが、公開するまでuriが、決まらないので…

[2014-12-21 15:38] yoshiokaCB commented on #38
お金関係、書類関係のやり取りが終わりましたらcloseしたいと思います。

[2014-12-21 15:39] yoshiokaCB commented on #33
とりあえず終わったのでcloseします。

[2014-12-21 15:39] #33 closed, assigned to Takashi-U

[2014-12-21 15:39] #3 closed, assigned to Takashi-U

[2014-12-22 00:59] sho-h commented on #40
そういえばそうでしたね > ust。ではYoutubeを待ちます。
togetterは http://togetter.com/li/760234 を作っていただいたので発言の過不足を確認してこれを載せようかと考えています。(なにか気になる事があれば教えてください)

[2014-12-22 01:02] sho-h commented on #38
参加人数わかったら #40 に対応するので教えてくださいー。

[2014-12-22 01:12] yoshiokaCB commented on #38
了解っす！

[2014-12-22 02:03] yoshiokaCB commented on #38
来場者数はトータルで57人でした！

[2014-12-22 02:04] sho-h commented on #38
おぉ、早速ありがとうございます！

[2014-12-22 02:07] sho-h commented on #41
録画はないんでしたよね...(僕も不確かです)。じゃあ、LTは全員で作るか簡単なものにするかといったところですね。

[2014-12-22 02:20] amidaku commented on #41
中継班は二人とも都合により懇親会参加できなかったので録画無いです。
申し訳ないです。ごめんなさい。

[2014-12-22 14:15] sho-h commented on #41
録画ない了解ですー。

どこで作成するかについてGoogleGroupで特に問題ないようであれば、以下と同じ修正を公式サイトにしておきます。
- https://github.com/matsuerb/matsuerb-nanoc/commit/3314202e1775bcc6d625908a2eafcd22fbe3fb73

[2014-12-22 21:12] nishidayuya commented on #41
前例だとLTはタイトルの紹介に留めているようです．https://github.com/matsuerb/matrk05/issues/1

とはいえ，自分はタイトルすら記録してなかったので思い出さないといけないわけですが... タイトルぐらいつぶやいておけばよかった． :sweat_smile:

[2014-12-22 21:17] nishidayuya commented on #41
レポート作成にあたって参考になるURIを挙げておきます．

前回: https://github.com/matsuerb/matrk05/issues/20

過去のレポート:
- http://magazine.rubyist.net/?0040-MatsueRubyKaigi04Report
- http://magazine.rubyist.net/?0035-MatsueRubyKaigi03Report
- http://magazine.rubyist.net/?0034-MatsueRubyKaigi02Report

[2014-12-23 00:05] sho-h commented on #41
URLあざます！タイトルは最悪ご本人さん達にお聞きするとして、#19 を参考にするに以下のみなさんに発表いただいた感じですかね？
- 五十嵐さん(本編): 永田町に届けられるサービスTmix
  - https://speakerdeck.com/igaiga/matrk06-tmix
- 五十嵐さん(懇親会): 松江のいいところ
  - https://speakerdeck.com/igaiga/matrk06-lt
- 笹田さん(懇親会): Ruby 2.2の紹介(タイトルTODO)
- 杉原さん
- 後藤さん

[2014-12-24 01:28] yoshiokaCB commented on #41
えーと、あと槙原さんもLTされましたよ。
槙原さん、杉原さん、後藤さんのLTタイトルはお聞きしておきますね。
話された内容は何となく覚えてるけど、タイトルまでは記憶してません（汗）

[2014-12-24 01:36] yoshiokaCB commented on #27
@inoh さん
写真受け取りました！
ありがとうございます。
あとは上記参考にどこかで公開できるように作業を進めます。

ちなみにいただいた画像のトータルのサイズが4Gを超えており、このままGithubとかで共有するのは色々と大変だなぁと思っています。
FBはあくまで写真共有のサービスではないので、FlickrかInstagramあたりで上手くできないか調べてみます。

あっ、 @ToruKurahashi さんがサーバを構築してくれることに期待しましょう！

[2014-12-24 01:37] yoshiokaCB commented on #36
無事に撮影が終わってますので、クローズします。

[2014-12-24 01:37] #36 closed, assigned to nobody

[2014-12-24 01:38] yoshiokaCB commented on #38
無事に本編を終えましたので、クローズします。

[2014-12-24 01:38] #38 closed, assigned to nobody

[2014-12-24 01:40] sho-h commented on #41
@yoshiokaCB さん、ありがとうございます！！よろしくお願いします！あれ、そういえばペッパーくんの話し、Togetterになかったです？(TODO要確認、載ってる方がいい場合もあると思うので必要であればツイートを探して追加してもらう)

あと、本編で中止になったセッションは懇親会でやったとかありました？

[2014-12-24 01:50] sho-h commented on #41
上記TODOについてはやはりないようでしたが、みつけれたつぶやきも以下ともう一個くらいだったので、残念ながら追加は難しそうですね...
- https://twitter.com/yotii23/status/546246800634437632

[2014-12-24 01:57] yoshiokaCB commented on #41
本編で中止になって懇親会でしたのは、

<pre>
パネルディスカッション
タイトル：「来て、見て、感じた、日本、松江、Ruby、NaCl」
発表者：正レナト 氏、多根チアゴ 氏、高尾コウジ 氏（司会・進行）
</pre>

です。

とりあえず、失礼のないように以下の方々のタイトルだけ聞いてここに記しておきますね。

[2014-12-24 02:16] sho-h commented on #27
FlickrやInstgramでも縮小されるみたいな話が挙がってたのでGitHubに挙げるにしても(残念ながら手作業で)リサイズしたものを想像していました。選別後リサイズ後ですので多くても100MB程度とかを想像してますです。(4GBでも自分は別に気にはしませんよ)
ただ、GitHubは最後の手段みたいなものだと思ってるので、Flickrとか使いやすそうなもの優先のまま検討いただければと思います。

[2014-12-25 01:59] yoshiokaCB commented on #41
タイトルは以下のようになります。

##

### 「僕らが東京で学んだこと」
- 杉原さん

##

### 「感情認識ロボットPepper、ようこそ島根県へ♪」
- 槇原さん

##

### 「新たなプログラミングスタイルの確立を目指して」
- 後藤さん

[2014-12-25 02:03] yoshiokaCB commented on #41
ちなみに後藤さんはスライドもアップされてて、urlを教えてもらいました。

http://www.slideshare.net/gototgz/ruby-20141220

[2014-12-31 02:29] sho-h opened #42 "公式サイト/scheduleにyoutubeのリンク先を追加する"
# 40の残り作業。以下に再生リストとかそんな感じでmatrk06に追加されたらそちらを、そうでない場合は以下だけをリンクする。
- https://www.youtube.com/channel/UCW1yvUzdRW2GVQIYP7h314A

[2014-12-31 02:29] sho-h opened #43 "アンケート集計"
アンケートの集計は行う予定とかあるんでしたっけ？的なIssue。

[2014-12-31 06:19] sho-h commented on #40
残り作業である #42 は分けてこちらは close。

[2014-12-31 06:19] #40 closed, assigned to sho-h

[2014-12-31 06:48] sho-h commented on #41
@yoshiokaCB さん、ありがとうございました。助かります。

とりいそぎ、[report以下](https://github.com/matsuerb/matrk06/blob/master/report/matsuerubykaigi06-template.hiki) にテンプレートを作ってみました。中身を入れるのは Google Groupとかを考えていますが、どうせGitHubでプルリクするのでそのままここでやってもいいかもな感もあったりします。

その辺はまた別途。みなさま忘れないうちに担当分をよろしくお願いしますー。m(_ _)m

[2015-01-13 12:31] yoshiokaCB commented on #43
はい。
預かってますんで、どこかにアップしたいです！
今のところ、開催報告と一緒にMatsue.rbにあげたいですがどうですかね？

[2015-01-13 13:50] sho-h commented on #43
おぉ、いいですね。:)

[2015-01-31 05:34] sho-h commented on #41
WIPです。自分の担当＋懸念事項を解決したので、正座して待ってる。

[2015-02-20 08:01] sho-h commented on #41
次の号(50号)の締め切りが決まったみたいです。50号に出すためには3/15締め切りになりました。(目次とアウトラインは以前のテンプレートを出す感じにしようかと。
- 2/15 (日) 記事申込、概要の締切
- 3/1 (日) 記事の目次、アウトライン締切
- 3/15 (日) 記事の締切
- 3/29 (日) 校正完了、リリース

無理そうなら51号にまわしてもらうので、2月の定例会で相談したいですね。

[2015-02-28 04:41] sho-h commented on #41
画像貼ったりなどしたあと、引き続き正座して待ってる！

[code]

[2015-03-02 00:32] sho-h commented on #41
2月の定例会で相談して51号にまわしてもらう事にしました。

[2015-05-20 02:44] sho-h commented on #41
51号は8月頃らしいので、7月には終えたいとすると後1月ほどでござる。

[2015-05-21 02:10] yoshiokaCB commented on #41
@sho-h さん
すみません。ずっと放置でした(^^;;)
あと、何人くらいですかね。。。
こちらから催促しましょうか？

[2015-05-21 02:24] sho-h commented on #41
@yoshiokaCB さんどもです。あと1人か2人分だったはずですね。とりあえず今月の定例会で相談してみようかと思っています。52号なら52号でも僕は別にいいかなと思ってます。

[2015-05-21 03:04] yoshiokaCB commented on #41
@sho-h さん
了解っす。今月自分は定例会に出れないので、すみませんが、よろしくお願いします！
まぁ、自分も何号でも構いませんが、せっかくの機会なので進めちゃいましょう！！

[2015-06-16 04:42] yoshiokaCB commented on #27
このアドレス見れますかね？
https://www.flickr.com/groups/2847723@N21/pool/

確認できれば、matsue.rbのお知らせにpushしまーす。

[2015-06-16 04:50] ToruKurahashi commented on #27
見えますた。

[2015-06-16 05:01] yoshiokaCB commented on #27
あざっす。やっぱ自分の設定でよかったんだ。安心しました。
今週末終われるように作業続けます。

[2015-06-23 05:25] yoshiokaCB commented on #27
写真をFlickrにアップリしてMatsue.rbのサイトにリンクを貼ったのでクローズします。
http://matsue.rubyist.net/news/2015/02/28/matsue-rubykaigi06/

[2015-06-23 05:25] #27 closed, assigned to nobody

[2015-06-27 02:10] sho-h opened #44 "http://regional.rubykaigi.org/ に松江Ruby会議06の情報を載せる"
http://regional.rubykaigi.org/ で地域Ruby会議とそのレポートの一覧が見れるようになったので、06の情報を掲載していただく(たぶんMLリダイレクトまわりのお願いが流れた関係で載ってない)。

[2015-06-27 02:16] sho-h commented on #44
https://github.com/ruby-no-kai/regional.rubykaigi.org/pull/15 を作ったので完了。

[2015-06-27 02:16] #44 closed, assigned to sho-h

[2015-06-27 02:18] sho-h opened #45 "http://regional.rubykaigi.org/ に松江Ruby会議06のレポート情報を載せる"
松江Ruby会議05のレポート情報を以下でPRしたので同様にして載せていただく。
- https://github.com/ruby-no-kai/regional.rubykaigi.org/pull/14

(#41 がいつ終わるかわからないので、Issueは分ける)

[2015-07-08 01:05] sho-h commented on #45
http://regional.rubykaigi.org に06自体の項目は取り込んでいただいたので「レポートなし」の状態までは進捗した。

[2015-08-04 21:59] sho-h commented on #41
現状ですが提出までdoneです。(9月までにできた！)

51号に掲載いただく流れで進んでいます。

[2015-08-19 01:09] sho-h commented on #41
るびまチームさんの校正まで終わったのでcloseします。

[2015-08-19 01:09] #41 closed, assigned to nobody

[2015-09-07 05:59] sho-h commented on #45
既にやっていただいたようでやることなくなってたのでclose。
- http://regional.rubykaigi.org

[2015-09-07 05:59] #45 closed, assigned to nobody

[2015-09-20 06:51] amidaku commented on #41
どこに報告上げるべきか迷いましたが、クローズされているこのトビにw

なんとか07開催までに前回開催の動画をUPできました。ﾊｱﾊｱ。

基調講演
https://youtu.be/XUdS8RYWL3g

ショートセッション
https://youtu.be/1mobbUMKZ8k

ライヴコーディング大喜利
https://youtu.be/7g0rWpJ7r7s

ゲスト講演
https://youtu.be/UlVdKi-YVtM

Matsue.rb 2014ふりかえり
https://youtu.be/Fz8wNh8VcV4

スモウルビーでライブコーディング
https://youtu.be/TTn5d-8OmZ8

大変遅くなり、申し訳ございませんでした。
やっと私の06が終了しました。
07もよろしくお願いします。

[2015-09-22 13:19] sho-h commented on #41
お疲れさまです！これって再生リストとかそういうので06分のみ一覧が見れたりできます？

[2015-09-22 23:16] amidaku commented on #41
一応 matrk06 タグつけてるけど、検索はGoogle任せに

[2015-09-22 23:21] amidaku commented on #41
(途中で切れた…

uriも検索もGoogle任せになるので、06分だけの表示は難しいです。
仮に出来ても、いつもその結果になる保証は無いです。

なので、先日のコメントでuriまとめて書きました。

[2015-09-23 16:53] sho-h commented on #41
了解っす！ http://matsue.rubyist.net/schedule/ へのリンクをどうはろうかなと思ったんですが、じゃあ、なるべく短く全部のリンクを作ろうと思ったら、一行で中継 1 2 3 4 5...みたいな感じがいいかもですねと思ったのでとりあえず、来月とかそうします。

[2015-09-23 16:55] sho-h commented on #42
(あ、チケット作ろうと思ったらあった)

以下のようにする。
- https://github.com/matsuerb/matrk06/issues/41#issuecomment-142450438

[2015-09-26 14:34] sho-h commented on #42
4e3fa96 で修正。

[2015-09-26 14:34] #42 closed, assigned to sho-h

[2015-10-05 08:46] amidaku commented on #41
知らなかったけど、こんな事ができたので、かなり今更ですがこっそり報告。
https://www.youtube.com/playlist?list=PLbJxhePIoIPDCF_KeFc-U5W4XdmTYWPVd

[2015-10-07 00:33] sho-h commented on #41
どもです。http://matsue.rubyist.net/schedule/#section-2 を更新しました。

[2015-10-07 13:53] yoshiokaCB commented on #41
@amidaku さん
ありがとうございます。
画質も結構いいですね！
なんか自分が写ってるの改めて見ると恥ずかしいですね(^^;;)

[2015-10-09 03:56] sho-h commented on #43
まぁもういいかなどと思ったのでcloseしてしまいます。

[2015-10-09 03:56] #43 closed, assigned to nobody